[2015-04-23 13:55] tysongach commented on #718
This error is usually due to a version issue between Sass/LibSass and Bourbon. When using these GUI tools like Prepros or Scout, they are commonly packaged with a specific version of Sass/LibSass. You’ll have to know what version they use to compile Sass and then make sure it’s compatible with Bourbon.

Poking around the Prepros website, it looks like it might use LibSass to compile, but I don’t s

[2015-04-24 13:35] tysongach commented on #717
The `modular-scale` _can_ be used to scale regions or components of your design, but it can be in lots of other ways, too. There’s no one right way of using it, but rather, it’s used to produce values that are _related_ to one another (they are picked from a defined scale). A very common use is to scale type sizes.

One major thing to note is that the `modular-scale` has no knowledge of screen siz

[2015-04-24 16:34] drtimofey commented on #717
I'm unable to change the ratio globally, since it will impact larger texts, i.e. `h1`, `h2`, etc.. I will look into double stranded scale, maybe that's what I'm missing. Thank you for your tips, hopefully others can find this discussion helpful as well!

[2015-04-24 16:34] #717 closed

[2015-04-24 16:53] tysongach commented on #690
Closing until we have some insight to what these helpers might be.

[2015-04-24 16:53] #690 closed

[2015-04-25 17:34] ashwinr opened #722 "Consuming bourbon as imports via bower/npm"
The published Bourbon files are under `app/assets/stylesheets`, which makes it very verbose to do `@import` from SASS files. I realize we can set the Sass compiler's loadPath accordingly, but that means we get no IDE support because these  load path settings are not recognized by IDEs, and it's generally preferable to keep the imports as resolvable path names. Could we please reconsider publishing

[2015-04-26 15:46] #718 closed

[2015-04-27 22:14] timjenkins commented on #722
+1

[2015-04-28 14:34] matheusagcosta opened #723 "Hide-text percentage problem"
Guys, we have a problem using percentage in `text-indent` on webkit browsers.

__iOS 8.3 Safari (iPad Mini Retina)__
![img_0011](https://cloud.githubusercontent.com/assets/3741582/7371713/fb689fa8-ed98-11e4-99db-15c092715c9c.PNG)

__Chrome 42.0.2311.90 (OSX Yosemite)__
![screen shot 2015-04-28 at 11 24 11](https://cloud.githubusercontent.com/assets/3741582/7371755/37313158-ed99-11e4-90a4-84c8b64d0

[2015-04-28 14:52] tysongach commented on #723
Can you please provide some more context for us:

- In the above screenshots, what’s your expected outcome?
- How is the Sass implemented to give you the current results?

[2015-04-30 12:05] matheusagcosta commented on #723
@tysongach I was trying to align logo at the center.

We are importing boubon family by gemfile.

Here's the result:

https://portal.redepagnet.com/rh/users/sign_in

[2015-04-30 14:40] tysongach commented on #723
@matheusagcosta Can we see the Sass source?

[2015-04-30 14:56] tysongach commented on #722
Yep, we know it’s a bummer and we’re investigating this for `5.0`. It will be large release with lots of refinements and fixes, like this one. Thanks!

[2015-04-30 15:23] matheusagcosta commented on #723
@tysongach Sure. Here's the snippet:

[code]

[2015-04-30 18:33] ashwinr commented on #722
awesome!

[2015-05-01 11:14] ales82 commented on #120
Bourbon must be on the same directory level with files wich you compile with sass:
Ex:  scss/index.scss
then bourbone must be instaled in scss directory wich you compile with : $ sass ---watch scss:css

[2015-05-05 08:42] shadeed opened #725 "Omega doesn't work as expected"
I'm using Omega to add a margin between the items in different views (Mobile, tablet and desktop). The issue is that the media queries override the styles between them. So the media query for 992px width take some styles from a previous one 768px.

For example in the tablet view (768px+) I want to show 3 items per row but it look like:
X X
X
X
X X
X X

And in the desktop view (992px+)  I want to s

[2015-05-05 13:06] HugoGiraudel commented on #723
Did you make sure that the element has no `padding`? @leaverou and I found a bug on WebKit browsers: https://twitter.com/HugoGiraudel/status/565093151904645120. Chromium ticket: https://code.google.com/p/chromium/issues/detail?id=457146.

[2015-05-05 13:12] HugoGiraudel commented on #720
Use the `linear-gradient` mixin:

[code]

[2015-05-05 13:13] HugoGiraudel commented on #702
I am thrilled to know that Bourbon documentation is going to be fully powered by SassDoc. If you need help, be sure to ask. :)

[2015-05-05 13:15] HugoGiraudel commented on #688
The problem comes from this line: https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/helpers/_font-source-declaration.scss#L19.

Appending to a `null` value is a terrible idea. The clean way to initialize an empty list is `()`.

[2015-05-05 13:37] HugoGiraudel opened #727 "[V5] About appearance mixin"
This is probably not a good idea to include an `appearance` mixin in v5, or basically a mixin for any property not prefixed by Autoprefixer. This for a couple of reasons:

* there are reasons why Autoprefixer does not prefix those properties;
* Autoprefixer might evolve and prefix those properties, making Bourbon forced to deprecate its mixins sooner or later;
* if a new prefixed version for those

[2015-05-05 13:41] HugoGiraudel opened #728 "[V5] About $global-prefixes"
Since Bourbon does not provide CSS prefixing anymore starting v5, I don't think there is much point in keeping the `$global-prefixes` variable. We could also make the `prefixer` mixin shorter and less strict as it has no point to make it overly rigorous. This would be enough:

[code]

[2015-05-05 14:08] kaishin commented on #727
Can you elaborate?

[2015-05-05 14:15] tysongach commented on #727
@HugoGiraudel We did initially plan to keep it, but we’ve decided to remove it. The thing is, we actually _use_ that mixin _a lot_. While it (was) non-standard, it’s value is high for when we build products.

Autoprefixer didn’t support it because it was non-standard. However, as of a few weeks ago, `appearance` was put back on the standards track and Autoprefixer has openly stated it will be supp

[2015-05-05 14:16] HugoGiraudel commented on #727
Oh. Cool then. :)

[2015-05-05 14:20] #727 closed

[2015-05-05 14:27] tysongach commented on #725
Hi @shadeed, can you please post this issue over in the [Neat repo](https://github.com/thoughtbot/neat)?

[2015-05-05 14:27] #725 closed

[2015-05-05 14:28] tysongach commented on #728
:+1:

[2015-05-05 18:41] jhonnymoreira commented on #720
@HugoGiraudel, thank you. It was one of the solutions that I found and started using in the project. By the way, do you know why this kind of error happens when you use `background-image`and `linear-gradient`?

[2015-05-06 07:36] HugoGiraudel commented on #720
Because the linear-gradient does not have a `$fallback` parameter.

[2015-05-08 17:34] #728 closed

[2015-05-08 17:51] #688 closed

[2015-05-08 18:03] #720 closed

[2015-05-08 18:05] tysongach commented on #637
Unfortunately, Josh and I figured out the the transition mixin would need much more of a rewrite and not just a quick fix to stop these prefixes from being output. We realize keeping track of these prefixes is a huge task, which is why we are [no longer doing this in v5.0](https://github.com/thoughtbot/bourbon/issues/702). I would highly recommend you check out [Autoprefixer](https://github.com/po

[2015-05-08 18:05] #637 closed

[2015-05-08 18:28] tysongach commented on #723
@matheusagcosta There’s a particular reason we use percentage rather than pixel units: http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/

Playing with Inspector on the link you sent above, when I remove the `text-indent: -99999px;` styles, I see mixed results. The issue seems to be that `.box` is `display: table` and needs to be `display: block`. I’m unsure why it

[2015-05-08 18:28] #723 closed

[2015-05-08 19:04] tysongach commented on #498
Don’s comment above should resolve this original issue of fading from `white` to `transparent`:

[code]

Here’s a CodePen: http://codepen.io/tysongach/pen/bdEwvV

It’s also worth noting that unless you need IE9 support, vendor prefixing is [no longer needed](http://caniuse.com/#feat=css-gradients), and you can go with regular ’ol CSS:

[code]

[2015-05-08 19:04] #498 closed

[2015-05-08 20:16] tysongach commented on #633
@geoffharcourt Can you update to 4.2.3 and see if this issue persists?

[2015-05-08 20:36] geoffharcourt commented on #633
@tysongach, that change allowed me to remove the workaround I had in my stylesheets for woff2 files. Thanks very much!

[2015-05-08 20:36] #633 closed

[2015-05-08 20:37] tysongach commented on #633
@geoffharcourt Good to hear. Thanks for your patience!

[2015-05-08 20:45] tysongach commented on #514
@jessepearson Still an open issue? Are you able to use the `linear-gradient` mixin to solve your needs?

[2015-05-08 20:57] jessepearson commented on #514
Not that I know of, but I believe it may have been a documentation discrepancy that caused user error. I also have moved away from using the bourbon mixins and now use a autoprefixer for projects.

[2015-05-08 20:57] #514 closed

[2015-05-11 09:07] Doomas opened #729 "Gradient rendering issue"
Hi,

I have following
[code]
is rendered to
[code]
The commas at the end is not valid CSS code and therefore the gradient is not displayed in the Browser.

If I Remove the unquote function inside [_linear_gradient.scss] (https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/css3/_linear-gradient.scss) like this
[code]
then it renders correctly to
[code]
I'm  not sure if this is

[2015-05-11 21:12] theskillwithin opened #730 "Magento convert Compass to Bourbon"
Hello,

Magento 1.9 comes with a compass install which uses ruby and is slow (esp with magento's huge scss files).

Do you know of a way I can convert the compass inside Magento to bourbon instead.

[2015-05-12 00:26] tysongach commented on #730
Hey!

I don’t know of an automated way, unfortunately. But some of the mixins between Bourbon and Compass are quite similar in syntax and function, so it may not take too much effort.

Also: no need to post the same question to GitHub, Twitter and Gitter. We’ll see it in any one of those places. :smiley:

[2015-05-12 00:26] #730 closed

[2015-05-12 13:14] tysongach commented on #729
Thanks for the heads up, @Doomas.

I can re-create this.

[2015-05-12 14:59] greggmoritz commented on #729
I'm also experiencing this on Libsass >3.1.0. Look out for an incoming PR.

[2015-05-16 18:02] antonshevchenko opened #732 "Using flexbox not working on Safari"
The `display` mixin for flexbox does not work for Safari. In fact, doing:

[code]

Results in the following CSS:

[code]

The extra space causes Safari to ignore the statement.

[2015-05-16 18:04] tysongach commented on #732
What version of Sass or LibSass are you using?

[2015-05-16 18:04] antonshevchenko commented on #732
Here's what I got:

[code]

[2015-05-16 18:11] tysongach commented on #732
Hm, I can’t seem to reproduce that output. Here’s what I get (also using Sass 3.4.13):

[code]

Are you using the latest version of Bourbon, 4.2.3?

[2015-05-16 18:12] antonshevchenko commented on #732
Here's what I got from running `bundle show`:

[code]

[2015-05-16 18:16] tysongach commented on #732
Is there a reason you’re not using Autoprefixer?

[2015-05-16 18:17] antonshevchenko commented on #732
Is it required by Bourbon? It never got installed I guess. I'll do it now.

[2015-05-16 18:18] tysongach commented on #732
No, not required, but we highly suggest using that instead of our prefixing mixins. Bourbon v5.0 will remove all prefixing mixins in favor of using Autoprefixer to take care of that: https://github.com/thoughtbot/bourbon/issues/702

[2015-05-16 18:19] antonshevchenko commented on #732
Alright! Autoprefixer did the trick. Thanks!

[2015-05-16 18:19] #732 closed

[2015-05-16 18:21] tysongach commented on #732
Awesome. Sorry; I know that doesn’t “solve” this possible bug, but truthfully, using Autoprefixer is a much better solution here. Happy you’ve got it sorted out.

Thanks!

[2015-05-18 09:25] georgeescott commented on #729
@greggmoritz I too have this issue and have modified the _linear-gradient.scss to match your PR #731 , but it compiles as `linear-gradient(to bottom,#000 #000);` without the comma separating the colour values.

[2015-05-18 11:51] georgeescott commented on #729
Working example: @greggmoritz If you update your PR to this it'll work:
[code]

Then at the bottom change `$full-purged` back to `$full`:
[code]

[2015-05-18 21:20] zrosenbauer opened #735 "Bourbon site description on google"
Bourbon site in google search was showing css in description instead of text.
![screen shot 2015-05-18 at 2 39 55 pm](https://cloud.githubusercontent.com/assets/3486461/7690508/c83c04e4-fd79-11e4-95df-4746861ec4d0.png)

[2015-05-18 21:29] zrosenbauer commented on #735
Here is a full screen screenshot
![screen shot 2015-05-18 at 4 28 39 pm](https://cloud.githubusercontent.com/assets/3486461/7690641/03012810-fd7b-11e4-865c-2d4fa2073cdf.png)

[2015-05-19 13:20] Maciekp commented on #79
Why it does not include -o-transition and -ms-transitions properties? In my case, bourbon is generating only -webkit, -o and transiton properties only

[2015-05-19 13:22] tysongach commented on #735
Well shoot, that’s a bummer! Thanks for the heads up.

I think Google changed their ways recently and no longer only look at `meta name="description"`. Will investigate!

[2015-05-19 15:12] tysongach commented on #79
@Maciekp Per [Can I Use data](http://caniuse.com/#feat=css-transitions), `-ms-` prefixes were never needed (it went straight to spec implementation in IE 10) and Opera had the `-o-` prefix _only_ in version 11.5, which is super out of date now.

Also, I’d recommend using [Autoprefixer](https://github.com/postcss/autoprefixer) for your prefixing needs. It has tons of benefits over using Bourbon for

[2015-05-20 06:58] mistergraphx commented on #729
:+1:

[2015-05-20 07:26] ramtml commented on #735
Hi Tysongach,
mark your pages with Rich snippets.

https://developers.google.com/structured-data/rich-snippets/
http://schema.org/

[2015-05-20 09:09] elia opened #736 "Start testing on sassc / sassc-rails"
Using bourbon with it gave me:

[code]

I know it's probably on their side but I still thing would be valuable to have it in the travis matrix, even in allowed failures. Just to give useful feedback from a major library.

[2015-05-20 14:49] greggmoritz commented on #729
@georgeescott Can you provide a little more detail about the engine you're running the compilation on? As well as your simple test case (input, output). I'm unable to reproduce the issue you are seeing. I've run the following sass (taken from [Bourbon docs](http://bourbon.io/docs/#linear-gradient)):

[code]

I got the exact same (expected) results when I ran that in Ruby Sass v3.4.5 and v 3.4.13,

[2015-05-21 06:13] mistergraphx commented on #729
@greggmoritz : these sassmeister gist, produce the error with libsass 3.2.2 <http://sassmeister.com/gist/6281c9f3cbca51c400e5>

and the result is the same locally for me with libSass / node-sass, latest

  "name": "node-sass",
  "version": "3.1.2",
  "libsass": "3.2.4",

[code]

[code]

[2015-05-21 14:16] greggmoritz commented on #729
@mistergraphx: Apologies if I wasn't clear what I was asking. Allow me to clarify. @georgeescott eluded that when compiling with the code from PR #731 that I posted, he was still getting unexpected results. I am unable to reproduce the error that he mentioned above and was asking for the specifics of his environment and test case.

The sassmeister that you linked is an example of the original bug,

[2015-05-21 17:34] georgeescott commented on #729
@greggmoritz i'm running:
bourbon: 4.2.3
libsass: 3.2.4 (through node-sass 3.1.1 and gulp-sass 2.0.1)
windows: 8.1 Update 1
node: 0.12.0

After running your tests this is what i got:
[code]

testing with RubySass v3.4.13 i got the correct css:
[code]

I think this may be an issue with node-sass it seems

[2015-05-22 09:55] furiousm opened #737 "Hide-text text-indent firefox problem"
We have a problem with de hide-text mixin, text-indext: 101% is not enough.
To fix the problem i've changed text-indent to 110%...

Only if firefox

![image](https://cloud.githubusercontent.com/assets/939113/7768241/691d8eee-0079-11e5-9c9d-1d411ac0434d.png)

[2015-05-22 17:29] tysongach commented on #736
Bourbon should work fine with LibSass; an error like that doesn’t usually indicate a compatibility issue. If you’re still having issues, please provide some more information in regards to your environment and we can try to help out.

We have begun adding tests to Bourbon but we’re focused on Ruby Sass for the moment. Testing on both is something we’re looking into.

[2015-05-22 17:29] #736 closed

[2015-05-22 18:52] elia commented on #736
Will see if I can put together a vanilla rails app demonstrating the issue

[2015-05-22 19:37] #735 closed

[2015-05-22 19:38] tysongach commented on #735
Using Google Search Console (previously known as Webmasters Tools), it looks like our description was simply too short.

---

![screen shot 2015-05-22 at 3 36 20 pm](https://cloud.githubusercontent.com/assets/903327/7778361/720562c4-0098-11e5-8844-dd0fbffa7c4f.png)

---

I tweaked it and make it a bit lengthier and more descriptive. Hopefully this resolves the issue.

Thanks for reporting!

[2015-05-22 19:44] tysongach commented on #737
Can you please provide some context or paste the code you’re using `hide-text` with? Also, what version of Bourbon are you using?

[2015-05-25 10:04] landed1 commented on #722
I think my issue might be related - I am told to use @import "bourbon/bourbon"; but this doesnt seem to give me any thing in my compiled css file. I have placed bourbon in "root/src/scss/" and compile to "root/dist/core.css" to keep it inline with my current build so is it my unique path that is causing me issues ? I am using grunt (grunt-contrib-sass) to build my css and this is working fine norm

[2015-05-25 16:13] j-walker23 commented on #296
@javaporter Finally!!!! First time i have ever heard anyone say any reason why .sass is cleaner/nicer then .scss. My mind has been blown ever since i found out that people would rather Sass be compatible with vanilla css then have it be a nice clean implementation.

No need for braces or @include, inheritance is inferred from indenting, like all GOOOOD programmers already do in their code.

Is thi

[2015-05-26 01:03] markhuge commented on #722
@ashwinr check out https://github.com/lacroixdesign/node-bourbon

[2015-05-26 06:42] kyyhkynen commented on #729
Using the background-image mixin circumvents this atm;
`@include linear-gradient(to top, #00ff00, #ff0000);`
renders incorrectly into
`background-image: linear-gradient(to top,#00ff00, #ff0000, , , , , , , , ); }`
But
`@include background-image(linear-gradient(to top, #00ff00, #ff0000));`
renders correctly into
`background-image: linear-gradient(to top, #00ff00, #ff0000); }`
Note that using the `b

[2015-05-26 07:21] landed1 commented on #722
thanks that will probably to the trick :)

[2015-05-27 00:22] tysongach commented on #737
Closing due to lack of response.

[2015-05-27 00:22] #737 closed

[2015-05-27 07:53] elia commented on #736
Ok, just to make things clear I'm not finding the time to do that, but look forward to see it supported, keep up the good work! :frog:

[2015-05-27 20:43] ZebraFlesh commented on #729
This has been happening ever since the libsass 3.2.0 beta releases. I was hoping it would be a libsass issue which they resolved on their end, but now that the 3.2.x line is released, it hasn't cleared up.  I didn't see anything in their issues list that would point to this issue (that is, no one else seems to have reported this issue), but I'm hardly a sass expert.

[2015-05-28 02:07] smenor commented on #632
Really @achiinto ?!? If we can't precompile then I can't use bourbon

[2015-05-28 15:19] flynfish commented on #632
@achiinto @smenor yea, I stopped trying to use bourbon because it wouldn't precompile for me...I didn't have time to figure out the issue or wait for it to get fixed..

[2015-05-28 16:29] smenor commented on #632
@flynfish it's kinda depressing and seems like it should be a priority because (a) probably not that hard of a thing to fix and (b) since it's broken we just went with an in-house (/ semi-kludgy) solution that gets the job done. Now even if this issue is resolved, we'd have the wasted time of rolling our own plus it'd take us more development time to switch to bourbon. I assume we're not alone the

[2015-06-08 09:38] vs4vijay opened #739 "Compiled Bourbon CSS"
Is there anyway to get compiled bourbon css only?. I don't wanna compile scss on my own. Just like bootstrap there should be precompiled `bourbon.css`, isn't it?

[2015-06-08 13:52] tysongach commented on #739
Hi @vs4vijay!

Bourbon is actually quite a bit different from Bootstrap, the biggest being that Bourbon out-of-the-box has zero CSS to compile. There is no output when you first include Bourbon, rather it now provides you with a series of tools (mixins, functions, etc.) to use within your project.

Hope that helps.

[2015-06-08 13:52] #739 closed

[2015-06-09 13:42] itsderick opened #740 "Syntax errors when compiling using grunt-contrib-sass"
[code]

[2015-06-09 14:33] itsderick commented on #740
Update: I changed from ```grunt-contrib-sass``` to ```grunt-sass``` and everything seems to compile fine now so I guess it's a problem with grunt-contrib-sass?

[2015-06-11 16:12] jeffdill2 opened #742 "Size mixin breaking with single argument"
When only passing a single argument to the `size()` mixin, such as:

    & img {
      @include size(100%);
    }

the following error is thrown:

    Mixin size is missing argument $height.

Interestingly enough, if I copy the mixin code and throw it in my own CSS file, changing nothing but the name of the mixin (just to differentiate it), it works. So, when I put this mixin in my file:

    @mix

[2015-06-11 17:06] tysongach commented on #742
Well that’s weird!

Can you provide more context on your environments (Sass version, any frameworks used, etc.)?

[2015-06-11 18:09] jeffdill2 commented on #742
It is very weird :confounded:

Framework is Rails 3.2.18.

Bourbon gem version is 3.2.3. I actually tried updating this to 4.2.3 and it still didn't work, so I reverted back.

Sass gem version is 3.2.1.

If there's any other info you can think of that would be helpful, please let me know. Thanks!

[2015-06-12 16:13] tysongach commented on #742
Thanks for the info!

Bourbon `3.2.3` is fairly old at this point. I’m unable to reproduce the issue using that version, but this does feel like a version/dependency issue.

The `size` mixin you posted above is from Bourbon `4.2.3`, which is quite a bit different from what it was in version `3.2.3`. I can’t remember for sure, but maybe it doesn’t work with just a single value.

Have you tried pass

[2015-06-12 16:30] tysongach commented on #740
Hard to say. It looks like grunt-contrib-sass uses Ruby Sass, so it would depend on what version you have installed. grunt-sass uses LibSass, so it’s a different ballgame. Let us know if the issue persists.

[2015-06-12 16:30] #740 closed

[2015-06-13 17:02] qburns opened #743 "Bourbon 5.0 flex-gutter() removed"
I've been looking at the 5.0 branch to see which features are being deprecated to prepare myself in advance. I've noticed the flex-gutter() feature is being removed. I've been using it to generate the same padding as my gutter.

What would be considered best practice for this now?

[2015-06-13 17:35] tysongach commented on #743
We actually deprecated that in [`4.1`](https://github.com/thoughtbot/bourbon/releases/tag/v4.1.0), but it just throws a warning for now until it’s fully removed in 5.0. We suggest using [Neat](https://github.com/thoughtbot/neat), instead.

[2015-06-13 17:35] #743 closed

[2015-06-13 18:11] qburns commented on #743
Ah, I wasn't aware the function had been moved into Neat. I'm using that, just was going through the deprecation list trying to ensure I'm ready for 5.0.

Thanks!

[2015-06-15 18:36] jeffdill2 commented on #742
Yeah, it works when I pass two arguments - so it's really not a big deal if
I can't get the single argument working.

And yes, I also upgraded Sass when I upgraded Bourbon (and Haml, because of
dependency issues, just FYI). For some reason it still didn't work. But I'm
sure it's got to be something on my end, since nobody else has brought it
up as an issue. So I'll keep messing with it to see if I

[2015-06-15 19:51] joshuaogle commented on #742
@jeffdill2 is it possible there is a different `size` mixin coming from somewhere else? Bootstrap has one that does only take two arguments and would throw an error like that.

[2015-06-15 20:07] jeffdill2 commented on #742
Oh wow, good call! Yep, that's exactly what it was. I just changed the import order to bring in Bourbon *after* Bootstrap and it works perfectly now. :relieved:

Thanks @joshuaogle! And @tysongach , thanks for humoring me with my brain-fart. :smiley:

Closing this issue now.

[2015-06-15 20:07] #742 closed

[2015-06-15 20:09] tysongach commented on #742
Ha, good call @joshuaogle!

[2015-06-17 11:23] daclubb commented on #224
@stringertheory It is in your root project folder.

[2015-06-17 15:00] treki commented on #224
thanks

[2015-07-01 15:37] kaaaahhhhnnnn opened #745 "@charset should only output once"
[code]

should only show up once.

[2015-07-01 15:41] tysongach commented on #745
Can you provide more detail than this? Where are you seeing this? How are you compiling your Sass?

[2015-07-01 15:48] kaaaahhhhnnnn commented on #745
I'm importing bourbon which, for whatever reason, has `@charset "utf-8";` at the top of a bunch of files.  It doesn't directly export anything else, so the result is:

[code]

[2015-07-01 15:50] elomatreb commented on #745
What are you using to compile your Sass? This does not happen with any tool I'm using, but it could be a implementation-specific bug (libsass likes those).

[2015-07-01 15:53] kaaaahhhhnnnn commented on #745
yikes, sorry... meant to post this to the pyscss project ;)

[2015-07-01 15:53] #745 closed

[2015-07-02 13:32] llahnoraa commented on #462
That's a great solution! Thank you!!

[2015-07-02 15:20] audetpascale opened #746 "Circle mixin"
Hi,

Is it possible to do a circle mixin such as

[code]

Is it not an heavy thing, and kind of related to the triangle mixin... But maybe there is a good reason not have that mixin.

Thanks for the info.

[2015-07-02 18:13] treki commented on #746
This more of a SASS question.. try this..
@mixin circle($width, $color) {
  width: $width;
  height: $width;
  background: $color;
  -webkit-border-radius: $width/2;
     -moz-border-radius: $width/2;
          border-radius: $width/2;
}

.circle {
  @include circle(200px, #999);
}

[2015-07-02 19:53] isochronous commented on #746
Why is it a SASS question?  He's asking if they can add that mixin to the library, not how to create the mixin.

[2015-07-02 20:37] jpdevries commented on #746
+1 for adding it

ps: it's Sass not SASS
http://sassnotsass.com

[2015-07-05 19:16] leandono commented on #729
Same problem here, the patch of @georgeescott fix the problem.

Nodesas: 3.2.0
Libsass: 3.2.5
Bourbon: 4.2.3

[2015-07-07 13:51] tysongach commented on #746
Bourbon’s `size()` mixin helps here. I don’t think a `circle()` mixin is necessary, as the code is already very straightforward:

[code]

[2015-07-07 19:55] audetpascale commented on #746
@treki : As @isochronous said, this is about to add the mixin, not how to do.

@tysongach : Well, yes, the `size` mixin helps. However, this is still a static class and could be done with a sub-optimal way, instead of a optimal mixin.

[2015-07-08 00:53] tysongach commented on #746
@audetpascale It was just an example…obviously you could take what I posted above and create a mixin instead:

[code]

This is similar to your approach, but a bit DRY’er and with less logic for the `border-radius` value. It’s quite simple already, hence my hesitation to add it to the library. Ultimately, it all depends on context and project needs. So if you find a `circle()` mixin to be valuable

[2015-07-08 00:53] #746 closed

[2015-07-08 01:56] audetpascale commented on #746
Your call, I was just asking. However, less logic means less performance also.

[2015-07-08 02:12] tysongach commented on #746
Sorry, I may have not been clear enough! I was specifically talking about having less Sass logic for the `border-radius` value. You had `width / 2`, which requires Sass to mathematically compute that, whereas a value of `50%` accomplishes the same with zero computation. This would be _more_ performant because it’s just plain CSS. Any way, this really doesn’t have much to do with a mixin or no mixi

[2015-07-08 16:25] abea opened #749 "Documentation broken link: Border Radius"
Hey there. The 'view source' link next to [Border Radius](http://bourbon.io/docs/#border-radius) is broken right now. Currently linking to https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/css3/_border-radius.scss.

It should go here, maybe: https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/addons/_border-radius.scss

Border-style and border-width 'vie

[2015-07-08 22:51] sadaf2605 commented on #632
remote:        Sass::SyntaxError: Undefined variable: "$em-base".
remote:        /tmp/build_b1c8ba5d0cbe89f021a4171d18c73441/vendor/bundle/ruby/2.0.0/gems/bourbon-4.2.3/app/assets/stylesheets/functions/_modular-scale.scss:21
remote:        /tmp/build_b1c8ba5d0cbe89f021a4171d18c73441/vendor/bundle/ruby/2.0.0/gems/sass-3.4.14/lib/sass/script/tree/variable.rb:49:in `_perform'

[2015-07-08 23:30] rahul-rkt opened #750 "Transition over filter?"
The following code works perfectly in Firefox and Safari, but not in Chrome or Chrome Canary.

[code]

Does Chrome not support transitions over filter?

Because something like this works as intended in all of the aforementioned browsers:
[code]

[2015-07-09 07:09] elomatreb commented on #750
You have to prefix the property in the transition declaration for webkit, sadly.

[code]

[2015-07-09 09:39] rahul-rkt commented on #750
Thanks, that worked. But cannot this be added in Bourbon?

[2015-07-09 13:55] tysongach commented on #632
Can anyone share their code? Also, did you remove all Sprockets directives from your `application.scss`?

[2015-07-09 15:24] smenor commented on #632
I ripped bourbon out and rolled my own version of the functions I needed a couple months back, and I us application.css but doesn't it seem a bit extreme to load my scss files, but doesn't it seem a bit extreme to ask people to monkey with their use of Sprockets just to use a «lightweight» library ?

[2015-07-09 16:33] joshuaogle commented on #750
Since [we're switching to Autoprefixer](https://github.com/thoughtbot/bourbon/issues/702) to handle things like that, it won't be added to Bourbon.

I've used something like @elomatreb's solution that still ends up being easy:
[code]

[2015-07-09 16:33] #750 closed

[2015-07-09 16:57] tysongach commented on #632
@sebmor Not sure I’m following or understand your comment above…

But in regards to Sprockets, [Step 4 of our installation instructions](https://github.com/thoughtbot/bourbon#installation-for-ruby-on-rails-31) have you remove those directives because we have Sass do the concatenating/importing instead. Here’s a great article on why that is » https://github.com/thoughtbot/bourbon#installation-for-r

[2015-07-09 17:09] smenor commented on #632
Maybe I'm missing something but I don't actually see a «why» there - merely instructions on the «what» and «how».

That's fine but it's not very compelling. I like the idea of using the native SASS @import *but* I have 19 stylesheets in my main Rails app. You're saying: go through all of those and switch to @import everywhere. That's almost certainly not just a search/replace job and will have sid

[2015-07-09 17:27] joshuaogle commented on #632
@smenor The *why* is the Sprockets methods import the stylesheets in alphabetical order, which not only messes with the *cascading* part of stylesheets, but if you are using Sass mixins then you may end up trying to use a mixin or function before it is defined. It's an issue that comes up with Sprockets + Sass in general.

If you need to be picky about your import order, it's best to use Sass's `@

[2015-07-09 17:29] smenor commented on #632
Thanks - that's definitely good to know (and an odd choice on their part). That does make me want to (eventually) switch over to @import everywhere

Still not quite sure why I can't just @import bourbon without running into the $em-base error though :)

[2015-07-09 17:50] tysongach commented on #632
@sebmor Yeah, I mean it is a bummer, don’t get me wrong. It makes our installation a bit more complex by adding an extra step and possibly making authors change the way they do things…but it’s just the situation we’re in. Sprockets does things a certain way when importing and it doesn’t work nicely alongside Sass `@import`’s. There are certain inter-dependencies within Bourbon and Sass’s `@import`

[2015-07-14 19:09] DevanB opened #751 "Multiple values with transition-delay"
Hello, I'm curious if you can use multiple values with `transition-delay`. The documentation doesn't show multiple values and my testing hasn't yielded successful results.

I have been successful with pure CSS but unsuccessful using the mixin like below.

`+transition-delay(0.3s, 0s)` nor `+transition-delay(0.3s 0s)`

[2015-07-22 13:16] littlekid opened #753 "Flexbox - firefox"
Shouldn't :
[code]

be updated to (flex instead of box):
[code]

[2015-07-22 14:17] tysongach commented on #753
`box` is the syntax for the [old](http://www.w3.org/TR/2009/WD-css3-flexbox-20090723) flexbox specification, which Firefox used from version 2–21, according to [Can I Use](http://caniuse.com/#feat=flexbox).

Also, just a heads up, [we now recommend](https://github.com/thoughtbot/bourbon/issues/702) using Autoprefixer for prefixing, rather than Bourbon’s mixins, if you can. It gives you a lot contr

[2015-07-23 15:41] mark-schaal commented on #615
I can confirm I am experiencing the same issue with gulp-sass@2.0.4. @joaomilho  did using gulp-ruby-sass work for you?

[2015-07-23 18:31] mark-schaal commented on #615
FYI, gulp-ruby-sass doesn't support globbing...bit a of a deal breaker on that front.

[2015-07-24 14:44] #749 closed

[2015-07-24 14:44] tysongach commented on #749
Fixed. Thanks for the heads up!

[2015-07-24 14:45] #753 closed

[2015-07-24 15:31] tysongach commented on #751
Hi!

According to [MDN](https://developer.mozilla.org/en-US/docs/Web/CSS/transition-duration), the CSS syntax does allow multiple values that are comma separated…so we’re shooting for this output:

[code]

My quick test shows that Bourbon’s mixin does output multiple values correctly:

_Sass_

[code]

_CSS output_

[code]

Is this different than what you’re seeing? If so, what version of Sass are

[2015-07-24 23:22] tysongach commented on #722
We’ve restructured the Bourbon directories for [v5.0](https://github.com/thoughtbot/bourbon/tree/bourbon-v5.0.0) to be just `core` instead of `app/assets/stylesheets`.

[2015-07-24 23:22] #722 closed

[2015-07-24 23:23] tysongach commented on #78
We’ve restructured the Bourbon directories for [v5.0](https://github.com/thoughtbot/bourbon/tree/bourbon-v5.0.0) so that all of Bourbon’s partials are inside a `bourbon` directory.

[2015-07-24 23:23] #78 closed

[2015-07-25 19:39] metaskills commented on #78
Thanks!!!

![bourbon](https://cloud.githubusercontent.com/assets/2381/8890972/1c79f982-32e3-11e5-8195-86eff3dd3a42.jpg)

[2015-07-27 08:27] littlekid commented on #753
:+1:  and **Thank you**.

[2015-07-31 08:29] soulcreate opened #760 "_transition.scss add "filter" multibrowsers"
Please add prefixes to "filter" transition:
[code]

[2015-07-31 15:23] tysongach commented on #760
This is a duplicate of #750.

[2015-07-31 15:23] #760 closed

[2015-07-31 15:23] tysongach commented on #751
Closing due to lack of response.

[2015-07-31 15:23] #751 closed

[2015-07-31 20:05] tysongach commented on #729
Quick update/recap:

1. This appears to only be an issue when using LibSass.
2. You can use the `background-image` mixin as a workaround to get the correct CSS output:

[code]
  :point_up: this outputs (note that we do lose the fallback color by doing this):
[code]
3. Finally, if you’re using the mixin for the prefixing, browser support for gradients [is pretty damn good](http://caniuse.com/#feat=

[2015-07-31 20:05] #729 closed

[2015-08-05 08:06] pineapplethief commented on #103
In my experience using assets pipeline makes it faster to develop sass vs. import directives, since whenever one of scss files is changed, sprockets only recompile this one file vs. entire application.scss with possibly dozens of imports, so sprockets + livereload makes recompiling of assets in development much faster vs. tons of imports.
I would argue that global scope for imported sass is a good

[2015-08-12 15:24] mmjaeger opened #762 "bourbon 5.0"
Hello
First was wondering what the timeframe is for 5.0 - second, can 5.0 be used with the current versions of Neat, Bitters and Refills?

Thanks

[2015-08-16 17:31] tysongach commented on #762
No timeframe as of now, but it’s coming along and the dev branch can be found here: https://github.com/thoughtbot/bourbon/tree/bourbon-v5.0.0

Neat may no longer have a Bourbon dependency at all in future versions and Bitters will get a very small update to work with Bourbon 5. Refills will need a bit more work to be compatible.

[2015-08-16 17:31] #762 closed

[2015-08-17 06:23] cheunghy commented on #673
Use `@import 'bourbon';` instead of `@import 'bourbon/bourbon';` fixes for me

[2015-08-21 23:28] tysongach commented on #702
Bourbon v5.0.0.alpha.0 » https://github.com/thoughtbot/bourbon/releases/tag/v5.0.0.alpha.0

[2015-08-25 18:04] mindeavor commented on #702
Since this an alpha release, is there anything in particular that is considered "unstable" we should look out for?

[2015-08-25 18:08] tysongach commented on #702
@mindeavor A few of us at thoughtbot are using it in production on a few client projects with no hiccups, so I don’t think so! The link above outlines the big changes to conventions that you might have to re-align to.

[2015-08-25 22:11] mindeavor commented on #702
I found something: bitters `v1.0.0` is not compatible; it uses some features that were changed / removed in bourbon 5

[2015-08-25 22:17] mindeavor commented on #702
Documented the necessary changes here: https://github.com/thoughtbot/bitters/issues/194

[2015-08-27 10:11] Lego2012 commented on #702
@tysongach: How could Bourbon be used with PostCSS? There's a PostCSS plugin already for Neat. We're just testing PostCSS because we probably go away from Sass. But we use Bourbon quite a lot. Any suggestions?

[2015-08-27 12:16] AntonFilipko commented on #632
@tysongach  It still doesn't work for me. I use activeadmin which uses bourbon gem. I removed all "require" and still no luck. Any advice?

[2015-08-27 13:10] tysongach commented on #702
@Lego2012 Hi! I haven’t dived into it much, but I‘m not aware of an easy way to “port” the library over to PostCSS. It would be a re-write to make it work there. Honestly, it’s not a focus at this point in time, but it’s something we might look into in the future.

[2015-08-29 17:50] ajmerainfo opened #766 "Background"
When I use below line from doc. getting error below.

[code]

Error:
[code]

[2015-08-29 22:28] mehlah commented on #766
this line shouldn't throw an error. Double checked in this CodePen http://codepen.io/mehlah/pen/bVbyJr
Which version of Bourbon are you using?

[2015-08-29 22:45] ajmerainfo commented on #766
That link's code working perfectly fine with all browser.
I am using below version with gulp. and it's give me error.
[code]

[2015-08-30 08:17] gambala opened #767 "Gradients' errors with libSass"
I get various errors when use linear-gradient, radial-gradient or background-image mixins with libSass (Rails 4.2.4, sassc-rails 1.1.0, bourbon 4.2.4)

----

this code:

[code]

gives me an error:

[code]

----

this code:

[code]

works well on development, but gives me an error through assets compilation:

[code]

----

this code:

[code]

gives an error:

[code]

----

I really want to use libS

[2015-08-30 09:11] mehlah commented on #766
Okay, this might be an issue with LibSass.
To be sure, can you please use `gulp-ruby-sass` instead of `gulp-sass` to confirm if it's working correctly?

If you want to keep using LibSass with `gulp-sass`, you can use the `background-image` mixin as a workaround to get the correct CSS output:

[code]
I'll take a look to Bourbon's code for fixing it.

[2015-08-30 11:42] mehlah commented on #767
Thanks @gambala for your report.
Those are mostly issues with current LibSass implementations.
For example `@include linear-gradient(#fff, #e9e9e9)` outputs `background-image: linear-gradient(#fff, #e9e9e9, , , , , , , , );` when using LibSass, because LibSass doesn't remove `null` values from lists before interpolating in CSS strings.
This has [already been fixed](https://github.com/sass/libsass/

[2015-08-30 15:56] tysongach commented on #767
Related: #729.

It does appear to be an issue with LibSass, as @mehlah pointed out, and we’re anxiously awaiting for `3.3` to be released.

Couple things, though:

1. If you’re using the mixin for the prefixing, browser support for gradients [is pretty damn good](http://caniuse.com/#feat=css-gradients), so you may not even need prefixing or need to use this mixin at all. If you do need prefixes, [

[2015-08-30 15:56] #767 closed

[2015-08-30 16:10] tysongach commented on #766
Related: #729.

This is an issue specific to LibSass. Couple things, though:

1. If you’re using the mixin for the prefixing, browser support for gradients [is pretty damn good](http://caniuse.com/#feat=css-gradients), so you may not even need prefixing or need to use this mixin at all. If you do need prefixes, [use Autoprefixer instead of Bourbon](https://github.com/thoughtbot/bourbon/issues/702)

[2015-08-30 16:40] ajmerainfo commented on #766
Thank you so much "mehlah" & "tysongach".
I tried below code
[code]
and it's work great.

[2015-08-30 16:40] #766 closed

[2015-09-01 16:39] RRorg commented on #144
@plapier maybe you should think about changing/removing that link, since this issue ranks very highly on Google when searching for CSS resets, but the content is now behind an email-wall.

[2015-09-02 14:06] mmjaeger opened #770 "flex-grid"
hello
I'm a little confused when it comes to flex-grid - is this going to stay or is it going to be removed at all - I read that it is going to be depreciated in bourbon and moved over to neat - does that mean the functions are going to stay for good but as part of neat.

please clarify.

Thanks

[2015-09-02 14:23] tysongach commented on #770
Hi!

Yes, we deprecated the [`flex-grid`](https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/_bourbon-deprecated-upcoming.scss#L378) functions in Bourbon in favor of them being part of Neat, instead. Bourbon throws a warning for now, but they will be fully removed and no longer available as of `5.0`.

[2015-09-02 14:23] #770 closed

[2015-09-02 14:47] mmjaeger opened #771 "flex grid"
hello
I'm a little confused when it comes to flex grid - it's stated that this is going to be deprecated and moved over to Neat - is it going to stay for good but in Neat or is it moved over to Neat and then deprecated anyway?

[2015-09-02 14:54] tysongach commented on #771
Duplicate of #770

@mmjaeger Let’s keep the conversation in one thread. I’ll reply in #770.

[2015-09-02 14:54] #771 closed

[2015-09-02 14:56] tysongach commented on #770
The deprecation of these functions are here in Bourbon only. When we deprecated them here, we moved them to Neat because we felt like Neat was a better home for _all_ grid-related features; rather than Bourbon.

So at least for now, the `flex-grid` functions are in Neat and they will _not_ be deprecated there.

[2015-09-02 15:27] mmjaeger commented on #770
got it - thanks

[2015-09-02 15:28] mmjaeger commented on #771
sorry about that - didn't see the conversation so I thought it didn't get submitted

[2015-09-02 17:14] tysongach commented on #770
Yes, but it’s un-documented.

[2015-09-03 21:23] abea opened #772 "Broken link in docs"
The "View Source" link on Directional Property is currently broken, [linking here](https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/addons/_directional-values.scss). I think I should be going to [this file](https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/helpers/_directional-values.scss).

[2015-09-09 16:43] ryentzer commented on #673
I'm trying to use bourbon for a non-rails app and I cannot get @import 'bourbon/bourbon' to work. If I create a test directory containing a `_sample.scss` file, I'm able to import it without any trouble. I'm on OS  10.10.5 with the latest bourbon installed.

[2015-09-09 16:54] tysongach commented on #673
@ryentzer Hi! How are you compiling your Sass and what does your directory structure look like?

[2015-09-09 17:35] ryentzer commented on #673
To compile I'm running `sass --watch css:css`.

My file structure is:

[code]

`styles.scss` contains:

[code]

The `test/_test.scss` file contents are rendered. The `bourbon/_bourbon.scss` file contents are not.

[2015-09-09 18:00] tysongach commented on #673
@ryentzer That all looks fine. Are you _using_ any of Bourbon’s features anywhere? Just importing Bourbon will not produce any output…not until you use a mixin or function or something.

[2015-09-09 18:13] ryentzer commented on #673
Now I just feel stupid. I was importing, but not using it yet. I thought just importing the partials would show up in my css file. Thank you for your help, and sorry for the trouble.

[2015-09-09 18:16] tysongach commented on #673
@ryentzer :smile: No worries! Not the first time.

We sorta take pride in that Bourbon outputs nothing until _you_ choose to use something. No forced bloat! :wink:

[2015-09-09 18:55] nicovanzyl commented on #673
The main reason I love Bourbon so much! :)

[2015-09-09 19:37] ryentzer commented on #673
That is really cool. I'm coming from a "large" framework where everything gets dumped in whether you use it or not. I must have missed this in the docs. :+1:

[2015-09-10 22:02] chriseppstein opened #774 "Eyeglass Module?"
Eyeglass is a Sass module manager for node-sass built on top of NPM. With a few small changes, this project can be as simple to install as `npm install --save bourbon`. Eyeglass users can then immediately import the sass files with no further configuration.

Are you interested? If so, I will send a small PR that makes the required changes.

[2015-09-10 22:21] tysongach commented on #774
@chriseppstein Hi Chris! Thanks so much for reaching out; this sounds super neat and we’d love for Bourbon to be a part of Eyeglass!

We do already have an [existing npm package](https://www.npmjs.com/package/bourbon). What affect would this have on that? And the addition of Eyeglass-compatibility would help make imports much easier?

Please feel free to open a PR; it’s _super_ welcome!

[2015-09-10 22:43] chriseppstein commented on #774
@tysongach It's just a few changes to your existing package.json and a new javascript file. Once you release with the changes, the existing bourbon npm module would be easier to install for eyeglass users and all the existing users would be unaffected.

I'll send a PR with the changes and updated documentation.

[2015-09-11 00:53] zrisher commented on #536
Having this issue around as a reason for why it isn't available was pretty helpful. It might be nice to just have a small section of the docks on "methods you might be looking for but aren't included for a reason."

[2015-09-11 02:04] whmii opened #776 "Change default scale for `modular-scale` function"
Currently the default scale for the `modular-scale` function is Perfect Fourth (1.333). This is a pretty drastic scale and seems unlikely as a default typographic system.
See http://modularscale.com/?1&em&1.25

I think it would make sense to switch the default value to something that can be more easily controlled out of the box. While it in not a large adjustment, I think Major Third (1.25) would

[2015-09-11 14:18] #772 closed

[2015-09-11 14:18] tysongach commented on #772
Thanks for the heads up!

[2015-09-12 16:29] tysongach commented on #776
Yeah, good call.

I’ve always found myself changing this to be less drastic, usually to either `$major-second` or `$major-third`. PR opened!

[2015-09-15 13:55] sysTemz- opened #781 "error reading values after eot"
i'am getting errors when trying to compile(please correct me if this is not the right term) sass to css

here are my dev Dependencies:

[code]

What is wrong? any ideas how to fix it?

[2015-09-15 13:59] tysongach commented on #781
@sysTemz- Hi! Yes, compiling Sass to CSS is the right term.

Is this an issue with Bourbon, or maybe just Sass in general? If the latter, Stack Overflow would be a better forum to get answers.

What are the error you are getting?

[2015-09-15 14:03] sysTemz- commented on #781
@tysongach i'am not sure if its sass or compass

but after @import -ing bourbon i get this msg.
assets/_sass/0-tools/bourbon/helpers/font-source-declaration:22 error: error reading values after eot

[2015-09-15 14:07] tysongach commented on #781
@sysTemz- Have you tried updating `gulp-sass`? The version you list above is quite out of date and probably wraps a very old version of LibSass that we don’t support; the latest is `2.0.4`.

[2015-09-15 14:11] sysTemz- commented on #781
@tysongach You are a hero! thanks. damn i thought this repo had the newest versions, i'll have more focus on version next time. thanks again

[2015-09-15 14:12] tysongach commented on #781
@sysTemz- Ha! No worries at all. Really happy I could help out!

All the best.

[2015-09-15 14:12] #781 closed

[2015-09-17 13:34] tysongach commented on #774
eyeglass support added in 492cf56fe060d0a6380738a8be59c7361196897a

[2015-09-17 13:34] #774 closed

[2015-09-17 13:45] tysongach commented on #776
Merged for `5.0`

[2015-09-17 13:45] #776 closed

[2015-09-18 20:59] whmii commented on #776
muchas grasses

[2015-10-01 23:04] kohlmannj opened #786 ""Error: Cannot find module '.'" when importing Bourbon using Eyeglass and Grunt"
Using http://eyeglass.rocks for Sass import path resolution is awesome, except when your build system chokes on things. I'm using Bourbon with Eyeglass and a Grunt-based Sass compilation setup, and I'm getting the following error when trying to run my `sass` Grunt task:

What's worse: this works perfectly on my personal machine, but fails as shown on my work machine. I've done a fresh `npm install

[2015-10-02 00:23] eoneill commented on #786
Can you check which versions of `node` you're running (`node --version`)?

Can you also try editing `eyeglass-exports.js` and changing `require(".")` to one of... `require("./")`, `require("./index")`, `require(__dirname)`

[2015-10-02 15:59] tysongach commented on #786
There’s an open PR, which will most likely resolve this. Apologies for taking time to release this patch; hope to today!

[2015-10-02 18:31] eoneill commented on #786
Awesome! #782 for reference

[2015-10-02 20:20] hrgdavor opened #787 "border-radius mixin"
first thing I did after downloading bourbon was adding this to `addons/_border-radius.scss`

[code]
Is there a reason this variant is not included ?

[2015-10-02 21:11] Toddses commented on #787
Since you're applying the border radius to all four corners, seems like it would be much easier with just doing the old fashioned way..

[code]

[2015-10-02 21:31] raldred opened #788 "background-image with linear gradient not outputting with chosen"
I'm using with bourbon with Rails along with the [chosen-rails](https://github.com/tsechingho/chosen-rails) gem, there seems to be some incompatibility, bourbon's background-image mixin doesn't work when chosen is present.

Anyone experienced this?
Do you think this a bourbon or chosen-rails issue?

Edit: chosen relies on some compass mixins, i'm guessing that's where the problem lies.

[2015-10-02 22:19] joshuaogle commented on #787
Hi @hrgdavor!
@Toddses is right, if you want all 4 corners, you can just use the regular css `border-radius` property, which [is really well supported](http://caniuse.com/#search=border-radius) these days.

The border-radius mixins are for when you want just two corners rounded and the other side straight (like in the case of a button bar). So you can use a single line and be a little clearer abou

[2015-10-02 22:19] #787 closed

[2015-10-02 22:37] joshuaogle commented on #788
Hi @raldred,

It looks like chosen-rails is using Compass, which is probably what is causing the trouble. Compass uses some mixins with the same name as Bourbon and it's probably not a good idea to use both.

Of course I favor using Bourbon, so you might try giving one of the other gems a try, or as a last resort just adding Chosen into `vendor/assets/` (I know, I don't like having to do that eith

[2015-10-03 11:20] hrgdavor commented on #787
Nice :) thanks for the clarification.

[2015-10-06 22:11] himedlooff opened #789 "There is no -ms or -o for transform-style"
It should be removed from the following function: https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/css3/_transform.scss#L13-L15

MDN showing the prefixes: https://developer.mozilla.org/en-US/docs/Web/CSS/transform-style

[2015-10-07 00:41] tysongach commented on #789
Hi!

According to [Can I Use](http://caniuse.com/#feat=transforms2d), IE9 uses the `-ms-` prefix for `transform` and Opera 11.5 uses the `-o-`, which is probably why they wound up in there.

That being said, Bourbon 5.0 will [no longer have prefixing features](https://github.com/thoughtbot/bourbon/issues/702).

[2015-10-07 00:41] #789 closed

[2015-10-07 12:01] GloriousUnicorn opened #790 "Tried an example listed on the website, doesn't compile correctly"
[code]
Using Prepros I get this:
[code]
Is there something wrong in what I do or is it actually a bug?

[2015-10-07 14:11] tysongach commented on #790
I’m not to familiar with Prepros, but if it uses LibSass then we’ve seen this bug before. You can find a discussion and fix here: https://github.com/thoughtbot/bourbon/issues/767

[2015-10-07 14:20] GloriousUnicorn commented on #790
Oh, accordingly using Compass in Prepros compilers settings rather than Libsass I won't get errors, understood.

[2015-10-07 17:12] tysongach commented on #790
@GloriousUnicorn Did that resolve your issue? Can this be closed?

[2015-10-07 17:12] tysongach commented on #788
@raldred Any update?

[2015-10-07 17:13] GloriousUnicorn commented on #790
Yes thank you.

[2015-10-07 17:17] #790 closed

[2015-10-07 19:57] raldred commented on #788
Heya yeh sorry, you're correct this the fault of chosen-rails.
I'm current in the process of patching to remove the Compass requirement, it's not necessary anyway because it should be built from the chosen source. Happy to close as nothing to do with bourbon really. :+1:

[2015-10-07 19:57] #788 closed

[2015-10-09 14:31] vojto opened #792 "`retina-image` should apply background size even in normal resolution"
https://github.com/thoughtbot/bourbon/blob/8e7e36e01c47194d83951fb6315c5b26a008f2b7/app/assets/stylesheets/addons/_retina-image.scss

If I want browser to resize image even in normal resolution, I currently have to write this:

[code]

`retina-image` should do this automatically as to DRY code above:

[code]

[2015-10-13 14:09] kazkovsky opened #793 "radial-gradient doesn't work on chrome"
Hey,

```@include radial-gradient(#1e5799, #3dc3d1);```

 produces:

[code]

[2015-10-13 19:25] elomatreb commented on #793
This is probably an issue that occurs when using libsass. See #729 for more information.

[2015-10-14 11:55] TonyBogdanov opened #794 "Can't transition a transform"
I believe this has come up before, but I couldn't find a solution so far.

The following SASS:
[code]

Produces the following CSS:
[code]

I believe you can already see my issue, none of the options except the property names get through when there is a "transform" present.

I'm using libSass on Windows 10 if it matters.

Thanks in advance!

[2015-10-14 12:00] TonyBogdanov commented on #794
Well it turned out to be a libSass issue, sorry about that :)

[2015-10-14 12:00] #794 closed

[2015-10-15 15:28] mrmartineau commented on #729
I know this may have been fixed by purging before unquoting, but I removed the `unquote()` function completely and it fixed it for me. Is there a compelling reason as to why that is not a good idea? or why does it need to be unquoted in the first place?

[2015-10-15 18:48] tysongach commented on #793
@kazkovsky Are you compiling with LibSass? If not, can you provide more details regarding your dev environment?

Also: are you sure you still need prefixes? Support for gradients these days is pretty strong: http://caniuse.com/#feat=css-gradients

I would use Autoprefixer, instead of Bourbon, if you do indeed need prefixes…

[2015-10-16 22:41] jessieay opened #795 "Installing w Rails"
Just followed the instructions and added the gem, bundled, then added `@import` statement to my `application.scss` file and ...I just don't know how to proceed.

Syntastic is telling me "File to import not found or unreadable: bourbon." - was I supposed to actually install the files in the assets dir? I can get it to work with `bourbon install ` and requiring `bourbon/bourbon` but those are not th

[2015-10-16 22:48] tysongach commented on #795
@jessieay Interesting! Does `bourbon` show in your `Gemfile.lock`? If so, what version are we using?

Also, do we have any Sprockets directives in our `application.scss`?

[2015-10-16 22:48] jessieay commented on #795
Here is my WIP commit https://github.com/18F/dolores-landingham-bot/compare/jy-style-fun?

[2015-10-16 22:48] jessieay commented on #795
appear to be using `bourbon (4.2.5)`

[2015-10-16 22:54] jessieay commented on #795
Also, the app might be kind of a pain to set up for you locally bc of auth etc so let me know if you want more details from my dev environment! :100:

[2015-10-16 23:03] jessieay commented on #795
Sooooo it seems like the grid settings are working. Perhaps this is a syntastic issue rather than a Bourbon issue...

[2015-10-16 23:03] tysongach commented on #795
@jessieay You’re setup and imports all look good. In fact, this is pretty vanilla and is a good move, going away from flat files in the source, to using the gems…

This is a stretch, but have you tried a `rake tmp:clear` after making all these changes?

Are you able to pull this branch down and compile on another person’s machine?

[2015-10-16 23:04] tysongach commented on #795
Oh! Wait a minute…I think someone just recently mentioned that Syntastic doesn’t like Bourbon’s import for some reason…

[2015-10-16 23:07] tysongach commented on #795
@jessieay This may be of relevance: https://github.com/scrooloose/syntastic/issues/90

[2015-10-16 23:19] jessieay commented on #795
ahh yes, definitely a syntastic issue. Thanks for the quick turnaround and help, AS ALWAYS

:rainbow: :+1:

[2015-10-16 23:19] #795 closed

[2015-10-17 13:05] tysongach commented on #795
@jessieay Of course!

[2015-10-17 13:50] tysongach commented on #786
#782 has been merged with a fix.

[2015-10-17 13:50] #786 closed

[2015-10-19 02:02] anthonator opened #796 "Placeholder always returns a color of #999"
We're seeing some weird behavior when using `placeholder`. No matter what we put in the `placeholder` block we always get back a color of `#999`.

Here's our SCSS:

[code]

Here's what it compiles to:

[code]

I looked at the mixin code and it looked pretty straightforward. Not sure what I'm doing wrong.

[2015-10-19 02:24] joshuaogle commented on #796
The `opacity` property in the `moz` prefixed version might be a clue I think. Bootstrap-sass [has a placeholder mixin](https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/mixins/_vendor-prefixes.scss) that takes a variable instead of a block, so it might be using `$input-color-placeholder` instead of what you have here. Are you using that library by chance?

[2015-10-20 11:35] jareware commented on #793
I'm also compiling with libsass, and can confirm linear gradients not always work on Firefox even if they work on Chrome and Safari.

[2015-10-20 13:16] tysongach commented on #793
Personally, I’d use Autoprefixer if you’re looking to prefix your gradients. But you can find a workaround for Bourbon via my comments in both #767 & #729.

[2015-10-20 13:16] #793 closed

[2015-10-21 17:10] anthonator commented on #796
Yeah, I'm using bootstrap-sass. Is it possible to get Bourbon to somehow override what bootstrap-sass provides?

[2015-10-21 17:14] joshuaogle commented on #796
If you import Bourbon after Bootstrap-sass in your main stylesheet, it should use those mixins instead.

There are a few others that are named the same, so it may cause other issues. If it does, you may be able to just import `bourbon/bourbon/css3/_placeholder.scss` again after Bootstrap-sass (I may not have the right path there).

[2015-10-21 17:16] anthonator commented on #796
Ok, cool. Let me give it a try.

[2015-10-21 17:26] anthonator commented on #796
Looks like I'm already including bourbon after bootstrap-sass.

[2015-10-21 17:26] anthonator commented on #796
Here's my vendor file.

[code]

[2015-10-21 17:29] anthonator commented on #796
Actually, it seems to be working now. The last time I tried I must have had bootstrap after bourbon.

Thanks for the help!

[2015-10-21 17:29] #796 closed

[2015-10-21 19:02] jareware commented on #793
Oh, I didn't realize vendor-prefixing was out of scope for Bourbon..?

[2015-10-21 19:06] tysongach commented on #793
@jareware We are removing them in v5: https://github.com/thoughtbot/bourbon/issues/702

[2015-10-21 19:10] jareware commented on #793
Ah, solid reasoning, :+1:!

[2015-10-23 12:31] evanjmg commented on #740
I got the same issue. It worked once in one of my projects and not in another

[2015-10-29 09:45] smth commented on #792
I was lead to think the same when using `cover` as the size.

[2015-10-29 11:13] fxck commented on #794
what libsass do you use? I've got the same problem..

[2015-10-29 11:19] TonyBogdanov commented on #794
I'm using sass2scss 1.0.3 compiled with Visual Studio under Windows 10.

I still have no idea what's the problem, but I do know it's caused by libsass, because the same code compiles just fine using the nodejs version.

I've ended up writing a custom mixin overriding the original one, that seems to compile and pretty much works just fine for me. Here it is:

[code]

[2015-10-29 11:21] fxck commented on #794
Man, finding a working transition mixin is pretty damn hard. Thanks for this one, works perfectly.

[2015-10-30 20:40] bduff9 opened #797 "Trying to use Bourbon with JRuby"
I have a project I have been working on to get SCSS compilation working in a Java servlet.  I have successfully implemented Sass and Compass with JRuby, however this is crazy slow and takes nearly 30sec for one file (my requirement is less than 10, or ideally less than 5).

I have seen people mention how Bourbon is faster so I tried to implement this but have been struggling most of the day.  What

[2015-10-30 21:03] bduff9 commented on #797
Oops, meant to include that when I run the exact same file with no Compass or Bourbon (and just put empty mixins as placeholders so it compiles successfully), it only takes 1.2sec

[2015-11-02 18:50] loganegbert opened #798 "Sass finding error when I import Bourbon/Bitters/Neat for Jekyll"
Trying to get Bourbon up and running with a Jekyll site.

All of the files are in the _sass directory (default for Jekyll imports). The main.scss file is in a scss directory, the subsequent css file will be output to a css folder.

I put the following into that main scss file:

@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";

When I run sass -w scss:sss I get:

Any thoughts on

[2015-11-02 19:31] tysongach commented on #798
@loganegbert What version of Jekyll are you using?

[2015-11-03 00:50] loganegbert commented on #798
@tysongach v3.0.0

[2015-11-03 00:51] loganegbert commented on #798
Sass v3.4.19 FWIW

[2015-11-03 13:25] loganegbert commented on #798
@tysongach according to the folks at Jekyll, the YAML frontmatter is what's causing Sass to have issues. But that still means that Jekyll's Sass converter is not importing Bourbon for some reason.

[2015-11-04 17:39] brianreavis commented on #794
Refs https://github.com/thoughtbot/bourbon/issues/794

[2015-11-04 17:39] brianreavis commented on #794
Refs https://github.com/sass/node-sass/issues/1227

[2015-11-04 20:24] marciovicente commented on #687
Are you trying import bourbon as a css rule?
Like:
[code]

It get the same error and when I fix this import, it's works fine.

[2015-11-10 11:10] addic opened #799 "Border-width mixin"
I have noticed that the bourbon `border-width` mixin is irrelevant to use anymore as instead of it one can use a css shorthand `border-width: top, right, bottom, left`. As a result, the output will have only one line of code instead of 1 to 4 lines:
[code]
Instead of:
[code]
The only difference i can see is if you do not want to set a value to 0, you would use the mixin with null in place of that

[2015-11-10 14:45] tysongach commented on #799
@addic Hi! Yes, you are totally right in that the one difference is we allow for the use of `null` values. This effectively “skips” a side on output. We do this so to not force “accidental resets”; more on that here: https://css-tricks.com/accidental-css-resets

It’s a nuanced feature, for sure, and is not _always_ needed.

[2015-11-10 14:45] #799 closed

[2015-11-11 05:04] jkeen commented on #794
Thanks @TonyBogdanov! Spent way long searching for what I suspected was a version difference between production and dev. Never found the issue, but that mixin works like a charm. :+1:

[2015-11-16 14:48] ytripet opened #800 "Transition Mixin breaks with transform"
Transform inside a transistion mixin makes all transition riming set to 0

[2015-11-16 16:10] #800 closed

[2015-12-04 19:24] danielsiwiec opened #802 "Point package.json main to the same file as bower.json main"
I believe those two values should be the same. The effect of the discrepancy I'm observing, is wiredep cannot wireup bourbon's npm package (package.json), while it works fine with bower (bower.json). There might be other effects.

Neat doesn't have this issue - both package.json and bower.json point correctly to the right sass file.

[2015-12-06 16:15] laicosly commented on #800
How did you resolve this?  I'm having issues with transitioning transform, where the time/ease properties are not included in the .css output.

If I transition all, bourbon outputs:
[code]

but if I transition transform bourbon doesn't include the time or ease
[code]

[2015-12-07 04:48] tropperstyle commented on #800
I am having this same issue. It used to work in previous versions but I recently updated dependencies and this bit me.

[2015-12-07 04:53] tropperstyle commented on #800
For anyone else, after a little more digging: https://github.com/thoughtbot/bourbon/issues/794

[2015-12-11 11:00] Killerblade commented on #742
I agree with thanks for the help

[2015-12-14 18:35] danielsiwiec commented on #802
@tysongach Could you take a look at some point?

[2015-12-14 22:40] tesujimath opened #804 "Defining $all-text-inputs-invalid ?"
I'm just getting started with Bourbon, so there may be a better way to do this.  But it seems to me useful to define a new all-text-inputs-* variable for styling invalid input.  Along the lines of [Bourbon Text Inputs](http://bourbon.io/docs/#text-inputs), I have done this:

    $all-text-inputs-invalid: assign-inputs($text-inputs-list, invalid);

which enables me to write this:

    #{$all-text-i

[2015-12-15 10:50] rsdrsd opened #805 "Position mixin bug"
When I use:

    @include position(fixed, 0 0 0 -$sidebar-width);

or:

    @include position(fixed, 0px 0px 0px -$sidebar-width);

It translates to css:

    .sidebar {
        bottom: -220px;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
    }

shouldn't this be:

    .sidebar {
        bottom: 0;
        right: -220px;
        position: fixed;
        right: 0;

[2015-12-15 10:55] rsdrsd commented on #805
I had to wrap the minus value in ( ).

[2015-12-15 10:55] #805 closed

[2015-12-15 11:34] johanneskrtek opened #806 "unicode-range in @font-face mixin"
i am missing the possibility to add the `unicode-range` descriptor in the @font-face mixin. are there plans to add this feature by any chance?

[2015-12-18 17:35] joshuaogle commented on #804
That does seem like an oversight. Go for it!

[2015-12-18 17:50] joshuaogle commented on #806
I haven't heard of any plans for it yet, but that may be because it's [not widely supported](http://caniuse.com/#feat=font-unicode-range). It would be a good optional parameter. Would you want to submit a PR?

[2015-12-22 17:52] radubogdan opened #809 "calc() in @media ?"
I recall that this syntax was working. Am I wrong?

[code]

The code from above compiles to and the browser fails to display styles:

[code]

Bourbon: 4.2.5
Sass: 3.4.19
Sass-rails: 5.0.4

This results in a ParseError for CSS.

- [W3 Media queries](http://www.w3.org/TR/css3-mediaqueries/#media1)
  - Properties may accept more complex values, e.g., calculations that involve several other values

[2015-12-23 12:05] johanneskrtek commented on #806
You are right, `unicode-range` is only supported partially by most of the browsers. But once Firefox and Opera Mini jump on the train it may become quite handy. Please have a look at the PR #808 – Travis CI seems to have got stuck somehow.

[2015-12-28 17:55] rabbitfang opened #810 "Deprecation warning with Sass 3.4.20"
When running Sass 3.4.20, the following warning is emitted:
[code]

There is a deprecation notice in the [changelog entry](https://github.com/sass/sass/blob/3.4.20/doc-src/SASS_CHANGELOG.md) and there is a relevant GitHub issue for Sass: https://github.com/sass/sass/issues/1778

[2015-12-30 18:04] jpdevries commented on #399
awesome. thanks @tysongach!

[2015-12-30 18:05] jpdevries commented on #399
I've also found myself wondering if it would be useful to add range support to the hidpi mixin so that you could say devices with a min density of 2 and a max density of 2.99 or something like that.

[2016-01-02 22:37] hansottowirtz commented on #632
I just use `gem env` to find out where my gems are installed, and I add `$em-base: 16px` to `.../gems/bourbon-x.x.x/app/assets/stylesheets/functions/_modular-scale.scss` at the top.

[2016-01-03 01:56] smenor commented on #632
And that doesn't seem like a horrible kludge to you ?

[2016-01-03 07:42] ZLevine commented on #502
If you're looking for another "diverse" example site, we built a large-scale how-to site using Bourbon :) howchoo.com

We use a bunch of neat technologies on the site (and wrote guides for many of them along the way!) A few notable ones:

Bourbon Neat
Django
Redis
Postgres
Backbone
jQuery

[2016-01-08 22:33] tysongach commented on #809
Hi! `media()` is actually a feature of Neat, not Bourbon.

But after digging into this a little, it just boils down to CSS and the fact that `calc()` is actually _not_ supported inside media queries. The wording in that W3C document is a bit poor, because it does make it sound like it is. They should make that more clear.

It’s hard to find specific evidence of this, but two things that helped me

[2016-01-08 22:33] #809 closed

[2016-01-08 22:58] tysongach commented on #798
@loganegbert Are you still having issues?

I just had a chance to do some testing. I’m finding Jekyll’s docs to be quite vague and confusing around this.

Per the docs (http://jekyllrb.com/docs/plugins), I tried adding `gems: [bourbon]` to my `_config.yml` (and then running `gem install bourbon` from the command line), but it was not working properly.

However, I _did_ get Bourbon importing correc

[2016-01-08 22:58] #798 closed

[2016-01-08 23:21] tysongach commented on #797
@bduff9 Hi Brian! Are you still having issues?

Honestly, I’ve never worked with JRuby, so my knowledge here is lacking, to say the least.

May I ask how much Sass overall you are compiling (like number of partials, or a rough overall line count)? Is using LibSass an option? It boasts faster compiling times, in most scenarios.

Also, regarding your part about Bitters: Yes, we recommend installed B

[2016-01-11 08:46] railsmechanic opened #814 "bourbon 4.2.6, issues with sprockets-rails 3.0.0"
After updating to sprockets-rails 3.0.0 (update to Rails version 4.2.5) I'm receiving various
```Sass::SyntaxError - Undefined mixin``` errors.

Commenting out the affected mixins leads to other ```Sass::SyntaxError - Undefined mixin``` errors.
Locking sprockets-rails to version 2.3.3 fixes the issue.

[2016-01-13 17:25] aeberlin commented on #460
This would be great, because these new deprecations are going to drive me insane and force me away from bourbon in the long run.

[2016-01-14 14:22] hansottowirtz commented on #632
@smenor It does, but I didn't find anything better for now.

[2016-01-14 17:23] rik opened #815 "Animation mixin does not compile with several animations"
The following example from the doc doesn't compile
[code]

Error:
[code]

[2016-01-14 17:39] tysongach commented on #815
@rik Hi! What version of Bourbon are you using and how are you compiling your Sass?

I quick test in CodePen seems to work fine (http://codepen.io/tysongach/pen/bErJzy), so maybe it’s a particular compiler or version that’s not working.

[2016-01-14 17:39] #797 closed

[2016-01-14 17:45] rik commented on #815
Using Bourbon 4.2.6 via npm. Compiling via gulp-sass.

[2016-01-14 18:13] gjjoo opened #816 "background and background-image has found an error in the mixin."
`background` and `background-image` has found an error in the mixin.

[code]

[code]

In the output results are not visible attributes such as `left` and `repeat`.

The `_background.scss` and `_background-image.scss` was resolved by modifying the file, as follows:
[code]

After modifying the output results:
[code]

Check, please.

[2016-01-15 08:50] rik commented on #815
Nevermind, the Bourbon mixin was overriden by a Bootstrap mixin. Sorry for the noise.

[2016-01-15 08:50] #815 closed

[2016-01-15 14:10] tysongach commented on #815
@rik Ah! That’ll do it. It’s actually a fairly common issue we see…

Glad you got it sorted out!

[2016-01-18 18:39] tysongach commented on #802
Hi @danielsiwiec!

We point npm (via `package.json`) to `index.js` so we can resolve import paths. This was changed in https://github.com/thoughtbot/bourbon/commit/36c2d5576f1fe9dbdfd9543e15064c5a4a16343e. We are also going to do the same for Neat: https://github.com/thoughtbot/neat/pull/397

I haven’t used wiredep, but I believe we are aligning to the guidelines for both npm (https://docs.npmjs.c

[2016-01-18 18:39] #802 closed

[2016-01-20 00:46] #804 closed

[2016-01-21 14:54] anartfulscience opened #820 "ERROR: While executing gem"
Hello,

I'm trying to install bourbon and neat and I'm having some issues that I hope you could help with. I'm on the Mac, OS X El Capitan.

If I try and install `gem install bourbon`
I get the error

[code]

I have tried using `sudo` and get

[code]

If I try and install via npm or bower and try and link to the scss file as below it's doesn't work either `../node_modules/bourbon/app/assets/styles

[2016-01-22 19:20] tysongach commented on #820
@anartfulscience Are you able to install other gems or npm modules, or does this only happen when installing Bourbon? It appears to be issue with permissions on your specific machine. Trying to install something else could be a good gut check.

[2016-01-23 11:33] Hobbit78 opened #822 "Operation not permitted - /usr/bin/thor"
When I try to install Bourbon with `$ sudo gem install Bourbon` it gives me the error:

[code]

I'm not sure what to do.

Thanks in advance.

[2016-01-23 11:36] elomatreb commented on #822
This doesn't really address your issue, but it should not be necessary to install gems using `sudo`. Have you looked into installing gems into a directory you own and adding this directory to your PATH?

[2016-01-23 12:28] Hobbit78 commented on #822
Thanks elomatreb.

When not using sudo it gives me this error:

ERROR:  While executing gem ... (Gem::FilePermissionError)
    You don't have write permissions for the /Library/Ruby/Gems/2.0.0 directory.

I have to admit that i'm not a Terminal specialist ;-)

I hope you can bring me a step firther.

[2016-01-23 14:11] tysongach commented on #822
This is a duplicate of #820 and likely not directly a Bourbon issue, but more of permissions issue with your local development environment…

Closing this issue in favor of consolidating conversation in #820.

[2016-01-23 14:11] #822 closed

[2016-01-24 14:26] merqurio commented on #415
I tried @plapier's solution, using bourbons mixins but the result is not the one i would expect..
[code]
compiles to:
[code]
I was expecting:
[code]

Maybe I'm the one doing something wrong, note sure :v:
I'm using `node-sass@3.4.2` and Bourbon `"version": "4.2.6"`

[2016-01-24 15:01] tysongach commented on #415
@merqurio The `-moz-` prefix on `transition` hasn’t been needed since Firebox v16: http://caniuse.com/#feat=css-transitions

Support might be good enough all around, that no prefixes are needed; I would double check that first and remove this mixin all-together if prefixes are indeed not needed. `transform` also has pretty great support these days: http://caniuse.com/#feat=transforms2d

[2016-01-24 15:08] merqurio commented on #415
ok, great :+1: , seen that the support is so abroud I think i'll just not use the mixin. Thanks @tysongach !!!

[2016-01-25 15:38] tysongach commented on #814
Hi @railsmechanic!

I finally had a chance to look into this a bit. I also had issues, but mine were related to importing and that Bourbon “could not be found”.

I don’t have a solution yet, but we’ll be looking into it…

[2016-01-25 21:19] railsmechanic commented on #814
:+1:

[2016-01-25 23:57] tysongach commented on #820
Closing due to lack of response.

[2016-01-25 23:57] #820 closed

[2016-01-26 00:22] tysongach commented on #810
@rabbitfang Thanks for the heads up! I opened a PR to fix this: #835

[2016-01-26 03:16] tysongach commented on #816
Hi @gjjoo! I’m unable to re-create this issue you’re having. Here’s a CodePen test: http://codepen.io/tysongach/pen/ZQxeNq?editors=0100

I’m going to close this for now, but please re-open if the problem persists (with some insight into your development environment).

[2016-01-27 13:57] blacktorn commented on #816
@tysongach It's happening when you use a recent (v3.3.2) libsass:
http://www.sassmeister.com/gist/2c61a16422b08fa49100

[2016-01-27 14:16] gjjoo commented on #816
@blacktorn Thank you for your reply..!!

[2016-01-28 10:13] HugoGiraudel commented on #806
I think simply adding `@content` in the mixin would allow authors to pass in any extra thing they want, including `unicode-range`. :)

[2016-01-28 10:50] johanneskrtek commented on #806
I like the idea of passing a block for optional parameters!

[2016-01-29 20:09] tysongach commented on #814
@railsmechanic What version of Bourbon are you using?

Also, is this code open-source anywhere that we can see it? If not, can you share with us a code sample that gives us an indication of the mixins that you’re using?

So far, we’re unable to re-create with the precise versions you mention above.

[2016-02-01 16:51] Leagnus commented on #702
It seems that 'perspective' is depricated too

[2016-02-03 23:53] gibson135 opened #843 "Media Queries"
For some reason this media query is not responding on my iphone. It is an iPhone6. It does respond using Chrome but not on the actually iPhone.

I'm posting what is as far as I know relevant.

What is happening is that even though the mobile size has one background color (using this as a test property) it is just using the tablet size anyway.

[code]

[2016-02-03 23:56] gibson135 commented on #843
I saw that is said background: instead of background-color:   didn't do anything

[2016-02-05 09:55] railsmechanic commented on #814
@tysongach I fixed the issue. It was a naming conflict in one of my .scss files.
You can close this issue.

Many thanks :+1:

[2016-02-05 14:20] magicsass commented on #702
Hey, when do you plan to release this 5th version and his documentation?
Thx for the reply :)

[2016-02-05 14:24] tysongach commented on #814
cc: @dgalarza

[2016-02-05 14:24] #814 closed

[2016-02-05 16:52] colorful-tones commented on #702
Will Bourbon (Neat, etc) be better supported through installing via Bower or NPM in future releases? Just curious if you recommend one or other.

[2016-02-05 18:50] #806 closed

[2016-02-05 18:52] tysongach commented on #806
As of 235671948ef3a9c343c4391d250082a0373c8d83, you can now pass `@content` into the `font-face` mixin; which perfectly solves this issue:

[code]

[2016-02-05 19:42] colinwren commented on #562
I think this issue (or a related issue) is worth reopening. While it is true that using `!important` incorrectly (as it most often is) can make CSS codebases a pain to work with, `!important` can be quite useful in an OOCSS context.

An app I am currently working on utilizes utility classes such as `.u-displayNone` which are meant to be trump classes (never overridden), these classes use `!importa

[2016-02-05 20:53] paulthegeek commented on #843
@gibson135 I would love to help. I have a few questions to make sure I am understanding what result you are expecting.

1. Are you expecting the background color to change when you are going from the small(iPhone) breakpoint to the medium(iPad) breakpoint?

2. When you mention that you are seeing the correct results in Chrome are you referring to the dev tools like in this screenshot?
![screen sho

[2016-02-06 02:38] tysongach commented on #702
@magicsass We [released the alpha in August](https://github.com/thoughtbot/bourbon/releases/tag/v5.0.0.alpha.0) and have had zero issues reporting. The beta should be out within the next couple days. Past that, it’s documentation clean up, then launch.

[2016-02-06 02:40] tysongach commented on #702
@colorful-tones Can you clarify what you mean by “better supported?” We’ve support Bower for quite awhile. We have also supported npm for quite some time, though the inclusion of proper load paths is [fairly new](https://github.com/thoughtbot/bourbon/commit/36c2d5576f1fe9dbdfd9543e15064c5a4a16343e). Please let us know if there is specific needs/issues around these tools!

[2016-02-06 09:01] johanneskrtek commented on #806
Yeah, thanks!

[2016-02-06 21:07] tysongach commented on #460
I’m going to close this because Sass 4 is expected to introduce a native module system and will be much more robust than what we can do on our own.

The system is still being designed, but you can read more about it here: https://github.com/sass/proposal.module-system

[2016-02-06 21:07] #460 closed

[2016-02-08 17:11] gregrickaby commented on #702
@tysongach I think what @colorful-tones is asking is:

Does ThoughtBot have an opinion on which package manager to use? NPM, Bower, etc... ?

I know there's been a resurgence in the Bower community, but using NPM just feels less, icky. :smile:

[2016-02-08 17:46] tysongach commented on #702
@gregrickaby I can’t speak for all of thoughtbot, but my opinion is that it depends on the project. We do a lot of Rails work, as well as a lot of work with [Middleman](https://middlemanapp.com), so pulling Bourbon from RubyGems is quite common. Though, we use Gulp, too, so npm is great for that.

Bourbon is also set up for use with [eyeglass](https://github.com/sass-eyeglass/eyeglass). At the end

[2016-02-09 05:06] raorao opened #853 "add support for position:sticky to the position mixin"
current, safari requires the `-webkit-` prefix to implement `position: sticky`. That is not currently supported by bourbon

[2016-02-09 16:35] joshuaogle commented on #853
We are [switching to Autoprefixer](https://github.com/thoughtbot/bourbon/issues/702) to handle vendor prefixing like `-webkit-`. You can currently use sticky in the `position` mixin and Autoprefixer will prefix it for you. Since v5.0 will be out very shortly with that feature, we won't be adding it in the mixin itself. If you aren't using Autoprefixer in your project currently, give it a try!

[2016-02-09 16:35] #853 closed

[2016-02-10 03:22] tysongach commented on #702
[Bourbon `5.0.0.beta.1` has been released](https://github.com/thoughtbot/bourbon/releases/tag/v5.0.0.beta.1).

[2016-02-10 20:28] Smolations opened #855 "Where are the mixins for the npm install?"
I am trying to switch from using the github repo for this package to using the npm package. However, looking at the contents of the package, I can't seem to find the same `_bourbon.scss` file to import into my main sass file! Please tell me that the npm version of this mixin library actually _has_ mixins... 😥

[2016-02-10 20:30] Smolations commented on #855
For reference, I am using bourbon v4.1.1 and node v4.2.4.

[2016-02-10 20:47] Toddses commented on #855
Should be under `/node_modules/app/assets/stylesheets/_bourbon.scss`

[2016-02-10 20:53] whmii commented on #855
Yep, that's it, you'll need to import all of bourbon since the mixins and functions are interdependent.

Use the path that @Toddses posted above. you can see it in the repo [here](https://github.com/thoughtbot/bourbon/blob/v4-stable/app/assets/stylesheets/_bourbon.scss)

[2016-02-10 20:54] Smolations commented on #855
Yup, I _just_ got back here because I discovered that the module is getting munged due to my package manager, [jspm](http://jspm.io). I did a regular `npm install bourbon` and everything is present and accounted for.

Sorry for wasting your time, but thanks for the reply!  :+1:

[2016-02-10 21:06] Smolations commented on #855
Ugh, I forgot to specify the version I'm using when doing the install. LOL it's right in the code snippet I posted too!

Anyway, when I did `npm install bourbon@4.1.1`, it installed the module with the following directory tree (i didn't list the contents of some directories because they definitely don't have the mixins in them):
[code]

This install should be entirely reproducible. Maybe it has to

[2016-02-10 21:20] Smolations commented on #855
Aha! I guess I will just have to upgrade.  :unamused:

[Release v4.2.1](https://github.com/thoughtbot/bourbon/releases/tag/v4.2.1)

[2016-02-10 21:20] #855 closed

[2016-02-16 01:05] jairorudas opened #856 "is't working with the only .scss extention?"
Hi, bourbon working else with the .sass extention or only .scss extention?

Thank so much!

[2016-02-16 01:41] joshuaogle commented on #856
Hi @jairorudas. Yes, you can import it into a `.sass` file and it will work fine. You can use the Sass syntax for all of the mixins and functions.

(If you've downloaded the source files for some reason those will need to stay the `.scss` filetype, but you probably haven't)

[2016-02-16 14:53] jairorudas commented on #856
Thank very much @joshuaogle  for your help!!

[2016-02-16 15:02] #856 closed

[2016-02-16 21:09] tysongach commented on #843
Closing due to lack of response.

[2016-02-16 21:09] #843 closed

[2016-02-23 19:29] magicsass opened #857 "Bourbon - font-face mixin"
Hello,

Just a quick question about the font-face mixin.

When I load a font in sass, i used the following code :

[code]

There is a way to add extra params to the mixin like `font-weight` and `font-style`?
Sometimes I load the normal font, the bold font, the italic font etc.

Maybe add this in the mixin :

`font-weight: $font-weight;
font-style: $font-style;`

Thx for the reply!

[2016-02-24 02:41] tysongach commented on #857
Hi @magicsass! You can do this now! The `font-face` mixin already [accepts `$weight` and `$style` arguments](http://bourbon.io/docs/#font-face):

[code]

That being said, we are actually removing these two arguments in v5.0 (currently [in beta](https://github.com/thoughtbot/bourbon/releases/tag/v5.0.0.beta.1)), in favor of them being passed as content to the mixin, which then get output within the

[2016-02-24 19:24] magicsass commented on #857
@tysongach  Thanks for the reply! It's exactly the answer that I was looking for! Perfect and thanks for your work on bourbon. The v5 is pretty cool and clean :)

[2016-02-24 19:25] #857 closed

[2016-02-24 20:04] tysongach commented on #857
@magicsass Fantastic! Glad you’re enjoying it!

[2016-03-02 20:46] drmanitoba opened #862 "File to import not found or unreadable: bourbon w/ npm scripts, node-sass`"
Hey there,

I've got my deps set up as so:

[code]

and I'm trying to use npm scripts to build this, though raw CLI fails as well,

[code]

and so far inside `assets/css/src` is my `screen.scss` file:

[code]

When I run `npm run sass`, I get the following error:

[code]

[2016-03-02 20:50] tysongach commented on #862
@drmanitoba You likely need to add Bourbon to your node-sass `includePaths`. Have you read the [section in our readme regarding Node-based asset pipelines](https://github.com/thoughtbot/bourbon#installing-with-npm-and-using-a-node-based-asset-pipeline)?

[2016-03-02 20:52] drmanitoba commented on #862
Hey @tysongach, I was going off the line in your docs

Which I took to mean "install Eyeglass, and that's it". Is this not so?

[2016-03-02 21:05] drmanitoba commented on #862
FWIW, I've updated the npm script to be the following

[code]
but I'm still getting the same error when running `npm run sass`. I've tried running this same command from the CLI manually, and it produces the error as well.

[2016-03-02 22:04] tysongach commented on #862
@drmanitoba Ah, I didn’t see that you have `eyeglass` in there. I honestly haven’t had much experience with that yet, it’s new for us.

Perhaps @chriseppstein has some insight?

[2016-03-04 12:01] jtq opened #864 "Using bourbon with npm-sass"
This is an issue I've run into with 4.2.3 specifically, but I believe it exists right up to HEAD.  I'm not sure if this is specifically an issue with bourbon (or if it's best fixed elsewhere), but there appears to be a conflict between the npm-sass module and bourbon.

[npm-sass](https://www.npmjs.com/package/npm-sass) is used to @import CSS files from node modules, but it tries to load a referenc

[2016-03-07 15:28] benjdl commented on #816
Hi,
Any news on this problem? I encounter the same bug (Sass 3.4.21, Bourbon 4.2.6).

[2016-03-07 22:00] raratiru opened #867 "Overriding bourbon defaults in local file"
I received the most recent update.

Is there a way to override the default settings in my local ```_variables.scss``` in order to keep all my settings together?

This file is imported last, and I tried for example the following:

```$bourbon: ("modular-scale-ratio": 1.2, ) !default;```
or
```$modular-scale-ratio: 1.2;```

I had no success, whatsoever.

The result is good only if I place my changes

[2016-03-07 22:07] tysongach commented on #867
Hi! Yes, you should be able to declare your own default settings via the `$bourbon` map in your `_variables.scss` file. You shouldn’t need the `!default` flag as you have above, since you are actually wanting to _override_ the defaults.

Is this code open-source somewhere that I can see it? Or can you provide your Sass manifest file?

[2016-03-08 00:33] raratiru commented on #867
OK ...

Thank you for the prompt response. Indeed it works great.

I had many consoles open simultaneously and the most probable is that I mixed up environments and/or repositories. Too tired...

Thank you again!

[2016-03-08 00:33] #867 closed

[2016-03-08 00:37] tysongach commented on #867
@raratiru Glad you got it sorted out!

[2016-03-08 10:10] DevNIX opened #868 "Missing dependency: postcss-selector-parser"
I don't know if it makes sense. I'm using Laravel Elixir.

If I try to execute `@include background(linear-gradient(red, green) left repeat)` the compilation will fail with this message:
[code]

Which gets fixed if I do a `npm install --save postcss-selector-parser`

[2016-03-08 13:21] tysongach commented on #868
@DevNIX Hi! It looks like `cssnano` [requires `postcss-minify-selectors`](https://github.com/ben-eb/cssnano/blob/master/package.json#L43). I’m unsure why it didn’t automatically install, as it is listed as a dependency in `cssnano`, but maybe the install failed for some reason.

[2016-03-08 13:21] #868 closed

[2016-03-08 18:30] jairorudas opened #869 "Mixin Retina display"
Hi, I can't to compile my project, because the output of console is this.

[code]

Help me plase. Thank!

[2016-03-08 18:31] jairorudas commented on #869
I use gulp-ruby-sass for to compile.

[2016-03-08 18:35] tysongach commented on #869
@jairorudas Hi! What version of Bourbon are you using? Is the code open-source where I can see it? If not, can you show us the Sass where you are using Bourbon’s `hidpi()` mixin?

[2016-03-08 18:37] jairorudas commented on #869
@tysongach this is the code.

@mixin hidpi($ratio: 1.3) {
  @media only screen and (-webkit-min-device-pixel-ratio: $ratio),
    only screen and (min--moz-device-pixel-ratio: $ratio),
    only screen and (-o-min-device-pixel-ratio: #{$ratio}/1),
    only screen and (min-resolution: round($ratio * 96dpi)),
    only screen and (min-resolution: $ratio * 1dppx) {
    @content;
  }
}

[2016-03-08 18:42] tysongach commented on #869
@jairorudas That’s the Bourbon source, but are you _using_ that mixin somewhere in your project?

[2016-03-08 18:44] jairorudas commented on #869
Yes, here:
[code]

[2016-03-08 18:47] tysongach commented on #869
@jairorudas Are you using Sass’s indented syntax, not SCSS?

[2016-03-08 18:50] whmii commented on #869
@jairorudas your indenting is off. Should be

[code]

[2016-03-08 18:50] jairorudas commented on #869
@tysongach Yes, but the problem is above the `&:before` I saw now, and runing normaly. the error disappeared

[2016-03-08 18:50] whmii commented on #869
cool :+1:

[2016-03-08 18:51] jairorudas commented on #869
Thank a lot @whmii @tysongach

[2016-03-08 18:53] tysongach commented on #869
@jairorudas If you’re using the indented syntax, you include mixins with a `+`, not `@include`. So…

[code]

…should be:

[code]

Reference: http://sass-lang.com/documentation/file.INDENTED_SYNTAX.html#mixin_directives

[2016-03-08 18:53] #869 closed

[2016-03-08 19:32] tysongach commented on #562
@colinwren I see your point, but it’s a slippery slope. If we add this to `position`, should it also be added to a bunch of other features here in Bourbon? Where would we draw the line for mixins that have the ability to output `!important` flags onto specific properties, and ones that don’t?

I think we all _aim_ to not use them, and therefore the amount of times they are required _should_ be low

[2016-03-10 14:13] mmjaeger opened #871 "Flexbox"
I was a little surprise to find no flex box mixins anymore in Bourbon 5 - what's the reason?

[2016-03-10 14:19] tysongach commented on #871
Hi @mmjaeger. See here: https://github.com/thoughtbot/bourbon/issues/702.

[2016-03-10 14:19] #871 closed

[2016-03-11 00:30] tysongach opened #872 "Create a GitHub Issue template"
`.github/ISSUE_TEMPLATE.md`: https://help.github.com/articles/helping-people-contribute-to-your-project/

[2016-03-11 00:31] tysongach opened #873 "Create a GitHub Pull Request template"
`.github/PULL_REQUEST_TEMPLATE.md`: https://help.github.com/articles/helping-people-contribute-to-your-project/

[2016-03-11 05:23] CallumJHays opened #874 "Missing Mixins?"
Hi. Sorry if this is silly, as I'm new to using bourbon and web development in general.
My problem is that _sass doesn't seem to recognise the 'background-image' mixin_ after importing bourbon core. I am just trying to follow simple examples in your documentation.

Looking through the files both on my local machine and on this git repo, I can't find anything with the name **_background-image.scss*

[2016-03-11 09:33] smth commented on #874
Possibly related, I'm getting an `Undefined mixin 'transition'` error with a new install of Bourbon (5.0.0).

[2016-03-11 14:38] tysongach commented on #874
@CallumJHays @smth Hello! v5.0 removes all prefixing mixins from Bourbon, including `background-image` and `transition`. Here’s [our announcement describing why we’re doing this](https://github.com/thoughtbot/bourbon/issues/702), as well as our [change log](https://github.com/thoughtbot/bourbon/blob/master/CHANGELOG.md) which gives a break-down of what has been removed.

You could lock your versio

[2016-03-11 15:27] eliland commented on #874
Could it be a good idea to mention specifically which mixins are removed in the changelog? It's not completely obvious by the name alone which are prefixing mixins and which are not, so I see how that could cause confusion (as it did with me just today when I Ctrl+F'd the changelog to find out what happened to the transition mixin and came up with nothing).

[2016-03-11 15:28] tysongach commented on #874
@eliland Yep! I’m actually doing that right now…

[2016-03-11 16:32] tysongach commented on #874
I’ve listed out all of the removed prefixing mixins in the change log in https://github.com/thoughtbot/bourbon/commit/33d4b779947ead76cc127fee96d175bfa86fc52f. cc: @eliland

[2016-03-11 23:56] tysongach commented on #874
Hi all. I wanted to note that we realized today we (I) accidentally published `5.0.0-beta.2` to npm as a stable release, instead of a pre-release. So we unpublished `5.0.0-beta.2` to go back to `4.2.6` as the stable release. But I also published `5.0.0-beta.4` as a pre-release, so if you _do_ in fact want the beta, you can pull that one. Sorry for all of the confusion!

I’m going to close this as

[2016-03-11 23:56] #874 closed

[2016-03-12 07:20] Nyoho opened #875 "Are mix-ins like animation() going to be removed?"
The commit 5caaa70 removed `animation()` etc.
Will not 5.0.0 contain such mix-ins like animation()?

[2016-03-12 13:06] elomatreb commented on #875
Bourbon 5.0 removes the prefixing mixins. The purpose of these was nothing but adding the once needed vendor prefixes (e.g `-webkit-, -moz, -o-`).

There are two good reasons for dropping these mixins:

1. There are much better prefixing toolkits available today (Check out [autoprefixer](https://github.com/postcss/autoprefixer))
2. Many of the properties bourbon offered prefixing for are well-supp

[2016-03-12 14:37] tysongach commented on #875
@Nyoho This is correct. Thanks for the run down @elomatreb!

Let us know if you have any questions.

[2016-03-12 14:37] #875 closed

[2016-03-12 23:53] Nyoho commented on #875
I understand! Thank you for your explanation including autoprefixer, caniuse (useful!).

[2016-03-13 04:25] veeracs opened #876 "How do I avoid the warning - `overflow-scrolling` appears to be spelled incorrectly"
I don't think it is misspelled, but again there's no mixin for overflow-scrolling?

[code]

[2016-03-13 15:04] tysongach commented on #876
@veeracs Hi! I’m not sure I understand your question. Are you getting a warning when using a Bourbon mixin? `-webkit-overflow-scrolling` _is_ non-standard, but is used for momentum-based scrolling on iOS. That being said, it’s not used anywhere in Bourbon and we won’t be adding it as its own mixin, since [we’re moving away from mixins for prefixing](https://github.com/thoughtbot/bourbon/issues/702

[2016-03-14 13:43] veeracs commented on #876
Ok thanks for the update @tysongach, closing this issue...

[2016-03-14 13:43] #876 closed

[2016-03-16 12:46] tvmaly opened #877 "missing pixels to ems function in version 5 beta 4"
I was attempting to try some of the example code on the refills.bourbon.io page, but after compiling my scss to css I noticed the function  em(860) does not get translated.  I tried to search through all the code to find _px-to-em.scss that would contain the em function but it is no where to be found in the latest 5.0 version

[2016-03-16 14:20] tysongach commented on #877
Hi @tvmaly. The `em()` and `rem()` functions [have been removed](https://github.com/thoughtbot/bourbon/blob/master/CHANGELOG.md#removed-2) in v5. The discussion around them being removed can be found here: https://github.com/thoughtbot/bourbon/issues/691.

That said, the source for the `em()` function can be [found here](https://github.com/thoughtbot/bourbon/blob/v4-stable/app/assets/stylesheets/f

[2016-03-17 17:11] morgler commented on #874
This doesn't work with the current version 0.1.0 of refills. Refills depends on these mixins. Do you have a propsed solution how to fix this? Should I use autoprefixer-rails and then rewrite all snippets created by refill manually?

[2016-03-17 17:21] tysongach commented on #874
@morgler Yes, the current version of Refills is not ready for Bourbon 5. There’s no quick solution at the moment; basically we just need to work on Refills and release a new version which doesn’t utilize mixins removed in v5.

[2016-03-20 12:54] tvmaly commented on #877
I am still trying to grok your entire system, but I do understand you are transitioning to a new version.  Is there a version of the site examples on http://refills.bourbon.io/  that work with the latest version of bourbon/neat/refills/bitters ?

I am using examples are my starting point to learn.

[2016-03-20 13:31] tysongach commented on #877
@tvmaly Unfortunately, not yet. The current Refills does use some of the features that have been removed in Bourbon 5. That being said, it mostly uses Bourbon’s old prefixing mixins and it fairly easy to swap out. So _for example_, remove the `@include`s of Bourbon mixins for standard CSS:

[code]

Of course, you’ll want to use Autoprefixer or other means to prefix the values above depending on wh

[2016-03-21 12:48] tvmaly commented on #877
@tysongach I will wait for your update.  I am excited to try out the new version.  The examples on refills are very helpful.  Having these types of examples as stand alone files in a subfolder on github would be even more useful for those new to bourbon like myself.

[2016-03-21 12:58] tysongach commented on #877
@tvmaly Here’s my WIP branch for updating Refills to Bourbon 5: https://github.com/thoughtbot/refills/tree/tg-bourbon-5.

Great to hear you find them useful; we hope to streamline them a bit in the future, make them a bit more flexible and future-friendly.

I’m going to close this issue now, but don’t hesitate to reach out with any questions you have.

[2016-03-21 12:58] #877 closed

[2016-03-25 08:36] gwigz commented on #864
:+1:

[2016-03-26 22:46] andering opened #880 "@include background"
I noticed background mixin was removed, is it bug or feature ?

Thanks.

[2016-03-27 13:49] tysongach commented on #880
Hi @andering! You’re speaking about it being removed in v5.0, yes? If so, it was removed because we are [no longer supporting mixins for applying vendor prefixes](https://github.com/thoughtbot/bourbon/issues/702) (Autoprefixer is a much better tool for this, if needed). Also note that [linear gradients are well supported](http://caniuse.com/#feat=css-gradients) these days, so it’s quite possible y

[2016-03-27 14:11] andering commented on #880
Thanks for reply. Not sure why but i thought @include background was doing more than prefixing.
Thanks.

[2016-03-27 14:11] #880 closed

[2016-03-28 22:03] arkroy opened #881 "@font-face mixin not compiling with gulp-sass"
Hi

I'm trying to use a @font-face mixin (below) with gulp sass. However it doesn't not compile onto the resulting css, neither does it through and error. I tried it on sassmeister and the mixin seems to be working perfectly. Could you help.

[code]

[code]

[code]

Gulp Task:

[code]

[2016-03-28 22:07] #881 closed

[2016-03-29 09:17] fschroiff opened #883 "NPM / Gulp Error: File to import not found or unreadable: bourbon"
Fresh install, this is in my package.json:
[code]

This is in my gulpfile:
[code]

This is in my style.scss
[code]

This is the error I get:

[code]

What changed? I have several other projects where this exact setup works fine.

[2016-03-29 15:29] conchan opened #884 ""View More" under the Who's Using It section redirecting to empty github wiki"
Or, if you're logged in as a contributor, a new wiki creation page.

![bourbon-site](https://cloud.githubusercontent.com/assets/662225/14113541/76355e36-f5a1-11e5-83de-37a0e1c8f1ea.gif)

[2016-03-31 17:23] tysongach commented on #883
Hi @fschroiff! What Sass package are you using?

[2016-04-01 07:53] fschroiff commented on #883
Hi @tysongach, I am using gulp-sass 2.2.0 (which uses node-sass 3.4.2).

[2016-04-05 07:35] sergei-maertens opened #887 "Publish beta on npm?"
Hi,

Is it possible for the maintainer(s) to publish the v5.0 beta on npm? I'm working on a new project and currently only stable is on npm. This would easily allows us to stick to npm stack and use the latest and greatest Bourbon.

[2016-04-05 08:06] gbouteiller commented on #887
+1, in fact, this will allow the use of Bitters without yelling for $font-stack-system ;). Thank you very much guys, for your work.

[2016-04-05 08:32] sergei-maertens commented on #887
that's exactly why I submitted this issue :-)

[2016-04-05 16:24] sergei-maertens commented on #887
Nevermind, I did not know you can also install from github directly with npm:
`npm install --save-dev git+ssh://git@github.com:thoughtbot/bourbon.git`

[2016-04-05 16:24] #887 closed

[2016-04-05 16:40] tysongach commented on #887
@sergei-maertens @gbouteiller Hello! We do publish the beta to npm. You can install these pre-releases using `npm install --save-dev bourbon@5.0.0-beta.5`.

[2016-04-05 16:56] sergei-maertens commented on #887
Thanks, still getting used to the node ecosystem.
On Apr 5, 2016 6:40 PM, "Tyson Gach" <notifications@github.com> wrote:

[2016-04-05 19:09] #884 closed

[2016-04-08 09:00] oldirony opened #889 "gulp-sass compiling error with 'transition' mixin"
Hello,

when comping the scss code with gulp-sass (version 2.2.0) the mixin
`@include transition(transform 0.5s)`

is compiled to
`transition: transform;`
instead of
`transition: transform 0.5s;`

The problem appears only when applying the transition to the **transform** property.

A workaround is to explicitly define the duration with
`@include transition-duration(0.5s)`
but it cannot be a stable

[2016-04-08 09:50] microcipcip opened #890 "Override $buttons-list"
How do I override this variable in my project? I don't want to change the `library/buttons.scss` file
[code]

[2016-04-10 20:10] tysongach commented on #890
Hi @microcipcip! We don’t offer a way to amend the list (on a per project basis or through a setting), beyond editing the source file which you mentioned you don’t want to do and we also don’t recommend. Couple reasons for this:

1. This actual _list_ is considered “private” (internal to Bourbon), but we surface the list publicly via the variables `$all-buttons`, `$all-buttons-hover`, etc..
2. Our

[2016-04-10 22:26] microcipcip commented on #890
Thank you very much! This is exactly what I needed, and it makes completly sense.

[2016-04-10 22:26] #890 closed

[2016-04-14 12:39] tysongach commented on #816
@gjjoo @blacktorn @benjdl The issue appears to be a regression in LibSass when using `@each` to iterate over selector lists (as we do in `background()` and `background-image()`). Here’s the specific commit where they resolved the issue: https://github.com/sass/libsass/commit/cfc4e82f95f61395401a8f801434927c861cdddd

Upgrading to LibSass 3.3.3 or 3.3.4 should resolve the issue. It looks like the `s

[2016-04-14 12:39] #816 closed

[2016-04-14 12:55] tysongach commented on #810
Fix merged in at https://github.com/thoughtbot/bourbon/commit/c46c10d1a27f886340ed1cc0bb133b85d5b30144. We’ll cut a 4.2.7 release soon.

[2016-04-14 12:55] #810 closed

[2016-04-14 13:08] tysongach commented on #889
@oldirony Hi! This is actually a bug in LibSass. I believe upgrading to LibSass 3.3.3 should resolve the issue (it does in my findings). That being said, there is a chain of reactions here, because: gulp-sass wraps node-sass which wraps LibSass. It looks like gulp-sass has a beta out, and I’d bet this packages a newer version of LibSass which should fix your problem.

Also, CSS transitions have _r

[2016-04-14 13:08] #889 closed

[2016-04-14 19:48] tysongach commented on #792
@vojto Hello! Sorry for the delay. Couple things:

- Can you share code for your use-case?
- For the element you are applying this background image to, are you also declaring `width` and `height`?
- To @smth’s point: typically applying `background-size: cover` accomplishes the same goal without having to declare exact length values. Does this match your use-case?

We actually (as of now) have remo

[2016-04-15 16:14] idcmardelplata commented on #864
Buen día, no se si sirva pero a mi no me da problemas con esta configuración en el gulpfile.js
[code]

y bourbon lo tengo instalado dentro de la carpeta scss de esta manera:
* base/
* layouts/
* modules/
* plugins/
   * bourbon/
   * neat/
   * _plugins-dir.scss
* styles.scss

y no me genera ningún problema al ejecutar la tarea.

[2016-04-15 16:16] idcmardelplata commented on #883
Buen día, no se si sirva pero a mi no me da problemas con esta configuración en el gulpfile.js
[code]

y bourbon lo tengo instalado dentro de la carpeta scss de esta manera:
* base/
* layouts/
* modules/
* plugins/
   * bourbon/
   * neat/
   * _plugins-dir.scss
* styles.scss

y no me genera ningún problema al ejecutar la tarea.

[2016-04-15 21:05] tysongach commented on #810
We just released v4.2.7 which includes the fix for this.

[2016-04-17 01:55] whmii opened #892 "`before()` and `after()` mixin could be fun"
I wouldn't mind a mixin that implants a before of after object. example below:

[code]

[code]

this might be a nice way of condensing code, similar to the `margin` or `size` mixins

[2016-04-17 13:27] tysongach commented on #892
@whmii Can you provide some more context as to what the mixin would do and what problem it solves?

[2016-04-19 04:22] jcmorrow opened #893 "import "bourbon"; suddenly stopped working, load path is incorrectly set"
Hey folks,

 Yesterday I had all of my feature specs start failing on

`import "bourbon";`

 In my load paths I have:

`/Users/josh/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/bourbon-5.0.0.beta.3/core/Users/josh/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/bourbon-5.0.0.beta.3/core`

instead of just

`/Users/josh/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/bourbon-5.0.0.beta.3/core/`

Thi

[2016-04-19 13:19] tysongach commented on #893
@jcmorrow Hey! We had a Sass path bug in `5.0.0.beta.3`, but resolved it in `5.0.0.beta.5`. If you upgrade from beta 3 to 5, it should fix the issue.

[2016-04-19 15:42] jcmorrow commented on #893
Ah, shoot, I don't know how I missed that I wasn't on the right version. 😖  Thanks @tysongach!

[2016-04-19 15:47] tysongach commented on #893
@jcmorrow No worries! Happy we got it sorted out.

[2016-04-19 15:47] #893 closed

[2016-04-20 01:15] tysongach commented on #792
I’m going to close this, but please let us know if what I posted above doesn’t work or if I’m misunderstand the original issue/question. Thanks!

[2016-04-20 01:16] #792 closed

[2016-04-20 01:17] tysongach commented on #892
@whmii I’m going to close this for now because there aren’t any details or actionable steps to take. You’re always welcome to open a PR, of course!

[2016-04-20 18:45] whmii commented on #892
As stated will ad details.

[2016-04-25 13:40] eliland opened #894 "Missing support for OTF/OpenType in _font-source-declaration"
Not that I use it all that much, but is this excluded by design or has it been left out from `$formats-map` accidentally?

[2016-04-28 08:13] izumeroot commented on #632
I have same error. Please, reopen issue.
Now I used gem env like hansottowirtz. And I have added $em-base: 16px to .../gems/ruby-2.2.3@bb4.0/gems/bourbon-4.2.7/app/assets/stylesheets/functions/_modular-scale.scss

[2016-04-29 14:11] tysongach commented on #892
@whmii I’m going to close since this doesn’t have actionable steps to move forward. Please provide information to what problem(s) a `before()` and `after()` mixin would solve, or open a PR.

[2016-04-29 14:19] whmii commented on #892
I wouldn't mind a mixin that implants a before of after object. example below:

[code]

[code]

this might be a nice way of condensing code, similar to the `margin` or `size` mixins

[2016-05-04 11:10] eliland commented on #892
I can see some `content` based icon fonts using this, but for Bourbon it feels a bit like mixinification for the sake of mixinification to me. In my opinion, mixinifying things should come with an advantage significant enough to trump the downsides (increased complexity, obfuscation of "real" CSS, etc). Saving one line of code isn't quite there.

Not a huge fan of `margin` or `size` either to be h

[2016-05-04 13:06] tysongach commented on #892
I agree with @eliland. These mixins really only save one line of CSS (whereas certain uses of `margin` can condense three lines into one), but they also don’t do much to improve readability of the CSS. I don’t think `content` is specifically painful to write “long form” and already offers a clear syntax.

[2016-05-04 13:06] #892 closed

[2016-05-09 18:49] jcano commented on #702
Is there anywhere we can find the docs for 5.0? There many changes with the previous version and docs/tutorials I found are outdated.

Although I'm just learning Bourbon, I would like to use v5 not only because latest Bitters already asks for it but to avoid porting in a couple of months a new project I'm working on.

[2016-05-09 19:15] tysongach commented on #702
@jcano We’re working on the docs now, but don’t yet have anything published. Best bet for now is the review our change log: https://github.com/thoughtbot/bourbon/blob/master/CHANGELOG.md

If you have any specific questions, don’t hesitate to ask!

[2016-05-09 19:22] jcano commented on #702
I think I will just use the latest v4 for now. Everything I find on tutorials and guides has been removed (retina-image) or has different parameters (size).

The bleeding edge is not really a good place to learn ;)

[2016-05-11 05:54] nguyenchiencong commented on #632
This is a nightmare. Will have to stop using bourbon

[2016-05-11 14:17] tysongach commented on #632
@nguyenchiencong @izumeroot @hansottowirtz @AntonFilipko Can any of you share your code? Are you all using within a Ruby on Rails app, or something else? What version of Bourbon?

[2016-05-11 18:54] izumeroot commented on #632
Look like I have fixed it. The problem was in my config/initializers/assets.rb file.
I had these lines in it:

[code]

And I think I had error because Asset Pipeline compiled scss-files of bourbon not in correct context.

Now I have changed my assets.rb file:

[code]

And I have not error.

[2016-05-11 18:58] tysongach commented on #632
@izumeroot In your `application.css.scss` (or whatever your main manifest file is), do you have any Sprockets directives, like `*= require_tree`?

[2016-05-11 19:01] izumeroot commented on #632
application.css.scss:

[code]

[2016-05-12 01:12] tysongach commented on #632
@izumeroot Where are you importing Bourbon? Also within `application.css.scss`?

[2016-05-12 06:16] izumeroot commented on #632
It is imported by active_admin gem. I use active admin.
But as I wrote, I have fixed this error. My problem was in config/initializers/assets.rb file.
Do you think it is not correct way?

[2016-05-12 07:34] hansottowirtz commented on #632
I do not have any sprockets directives, I just have a dependencies.scss file with `@import 'bourbon';` at the top, and I have `@import 'dependencies';` in every other scss file. I link to those scss files in my application.html.erb.

[2016-05-12 08:45] hansottowirtz commented on #632
My assets.rb file:
`Rails.application.config.assets.precompile += %w(*.js *.css)`
This causes the application to precompile everything when running `RAILS_ENV=production bundle exec rake assets:precompile`

When precompiling _modular_scale.scss, it doesn't find the `$em-base` at `$modular-scale-base: em($em-base) !default;`. I think adding something like `$em-base: 16px !default;` above it would b

[2016-05-22 22:19] tysongach commented on #894
@eliland It’s by design. I think OpenType is generally not meant for web use. And while we’ve seen a range of formats over the years, browsers have [been converging on WOFF](http://caniuse.com/#search=woff).

[2016-05-22 22:19] #894 closed

[2016-05-23 21:22] kesha-antonov opened #897 "wrong number of arguments (1 for 0) for `flex'"
Hello guys!
Thank you for your great gem!

I've got weird error. All other mixins (including flexbox) working fine. And I clearly see this mixin in code of local folder of bourbon. Can you tell me what can go wrong?

<img width="933" alt="screen shot 2016-05-24 at 00 19 48" src="https://cloud.githubusercontent.com/assets/11584712/15484952/4be59a54-2145-11e6-81da-6d97352a06f2.png">

[2016-05-23 21:27] joshuaogle commented on #897
I'm guessing you upgraded Bourbon to a new version. The flex mixin has been removed since [it is well supported](http://caniuse.com/#feat=flexbox) without needing a prefix now. You can change the places you had `@include flex;` to just the regular `display: flex;`

[2016-05-23 21:31] kesha-antonov commented on #897
Hello @joshuaogle !
Sadly no. I am using 4.2.7

Maybe It can be related to sassc?

[2016-05-23 21:32] kesha-antonov commented on #897
Oh. Actually if it is good supported when no need to solve this issue/problem :)
Thanks!

[2016-05-23 21:32] #897 closed

[2016-05-23 21:34] joshuaogle commented on #897
Well in that case I'm not sure what the issue was, but glad that helps sidestep the issue. If you do need IE support further back, then Autoprefixer is the way to go.

[2016-05-26 00:22] tysongach opened #899 "Add tests for `prefixer` mixin"
The [`prefixer` mixin](https://github.com/thoughtbot/bourbon/blob/master/core/bourbon/library/_prefixer.scss) is currently untested, but should be.

As an example, here’s the tests for the `size` mixin:
- https://github.com/thoughtbot/bourbon/blob/master/spec/fixtures/library/size.scss
- https://github.com/thoughtbot/bourbon/blob/master/spec/bourbon/library/size_spec.rb

[2016-05-27 18:48] MareoRaft opened #900 "marking something important!"
Hey All!

I'm thinking of using your cool Bourbon library in our website.  I wanted to do something like this:

    	@include calc(right, "#{$circle-diameter} + 10px") !important;

only to find out that I can't apply `!important` to the calculated `right` property like that.  Well I can't think of a way to add the important setting, so this makes Bourbon useless in important situations ;)

Kidding

[2016-05-27 18:56] tysongach commented on #900
Hi @MareoRaft! Couple thoughts:

1. We’ve had a similar request before: https://github.com/thoughtbot/bourbon/issues/562.
2. I’m be curious to know _why_ you want to add an `!important` rule?
3. Our next major releases removes all prefixing mixins, including `calc`; [more on that here](https://github.com/thoughtbot/bourbon/issues/702).
4. [`calc` has great browser support](http://caniuse.com/#feat

[2016-05-28 18:46] MareoRaft commented on #900
Thanks for the speedy response!  Here is my code:

    #logout-circle {
    	@extend .hover-circle-with-text;
    	top: 0;
    	right: 0;
    	opacity: 0;

    	transition: all 0.4s ease;
    }
    .logout-circle-out {
    	top: 40px !important;
    	right: 55px !important;
    	opacity: 0.5 !important;
    }

So under certain conditions on my website, the javascript will trigger `$("#logout-circl

[2016-05-30 19:01] tysongach commented on #900
@MareoRaft Ah! This looks like a classic case of specificity issues. Since ID selectors are _more specific_ than class selectors, your declarations within `#logout-circle` will overwrite the ones in `.logout-circle-out`, even though they precede them. You can read more about CSS specificity [over on MDN](https://developer.mozilla.org/en-US/docs/Web/CSS/Specificity).

I’d suggest either using all I

[2016-05-30 19:01] #900 closed

[2016-06-01 00:12] #899 closed

[2016-06-01 02:25] MareoRaft commented on #900
Thank you sir.  Very helpful article.  Using classes instead of IDs hasn't broken any of my jQuery code so far.  Very cool strategy.

[2016-06-01 05:49] jonalport commented on #862
@drmanitoba: try --include-path

[2016-06-03 15:08] morgler opened #906 "File to import not found or unreadable: bourbon … again"
I followed the guide for installation on rails (rails 4.2.6 in my case). But when I try to load a page, I get:

    File to import not found or unreadable: bourbon

Turning `@import "bourbon"` into `@import "bourbon.css"` makes the error go away, but after that it loads no CSS.

I'm building a vanilla gem and have bourbon in my gemspec. The application.css has been renamed to application.scss and

[2016-06-03 15:11] tysongach commented on #906
@morgler Can you share your `Gemfile`, `Gemfile.lock` and `application.scss` files? Or is this code open-source somewhere I can see?

[2016-06-03 15:15] morgler commented on #906
Gemfile is empty and defers to gemspec, which is:

`
$:.push File.expand_path("../lib", __FILE__)

# Maintain your gem's version:
require "rucksack/version"

# Describe your gem and declare its dependencies:
Gem::Specification.new do |s|
  s.name        = "rucksack"
  s.version     = Rucksack::VERSION
  s.authors     = ["***"]
  s.email       = ["***"]
  s.homepage    = "***"
  s.summary     = "**

[2016-06-03 15:33] tysongach commented on #906
@morgler That all seems fine. Just to be sure: after you `bundle install`’d, you restarted your server?

Have you tried locking your gemspec dependency to a specific version?

[code]

[2016-06-03 15:39] morgler commented on #906
Btw: thanks for your lightning fast response (3min from question to reply!).

Yes, ran `bundle install` on the gem app and on the host app that uses it. Also restarted the server of the host app. Also tried all these steps after locking the version to 5.0.0.beta.5. I still get the error.

[2016-06-03 15:56] morgler commented on #906
Could it be similar to [this with simple_form](http://blog.jamesalmond.com/using-simple-form-in-an-engine/)? After all I'm using bourbon in an engine.

The same error also occurred a few days ago, when I tries to use the Locomotive CMS engine. Only that I tried to use bourbon directly in my host app.

[2016-06-03 17:11] tysongach commented on #906
Ah, intereststing. I didn’t realize this was an engine; I don’t have a lot of experience with that.

Take a look through issue #42. It may be that Bourbon is fine, but in the context of an engine, sass-rails doesn’t look at the path you need it to, and you’ll have to explicitly define that.

[2016-06-06 10:22] morgler commented on #906
Thanks! It somehow works now (without the hack) with sass-rails 5.0.4 – sadly I don't know what made it work (definitely did NOT do an update for the sass-rails gem). But somehow your link to the sass-rails problem helped fix it for me :).

[2016-06-06 10:22] #906 closed

[2016-06-06 12:54] tysongach commented on #906
@morgler Well, glad you got it working!

[2016-06-09 17:55] jeremykenedy commented on #822
You closed the issue without resolution and linked it to another answer that was closed due to lack of response.

Issue not solved @tysongach

[2016-06-21 08:45] ktamiola opened #907 "Unable to compile a simple animation with transform(rotate) function"
Hello there! I am working on an animated logo with an SVG element that is supposed to "swing". I have prepared a trivial, test animation in my `SCSS` files:

[code]
I am attempting to animate an element in `span` with the follwing code.
[code]
For some reason, (very likely trivial), the animation is not executed. The issue seems to be related to `transform` functions, as I was able to implement tr

[2016-06-21 09:13] mh-nichts opened #908 "Include box-flex mixin in flex-grow mixin, for better support of 2009 spec"
As I understand, box-flex is included in the flex (shorthand) mixin, but not in flex-grow (or flex-shrink).

The result is that when we use flex-grow as an include, box-flex is not included, so the "flexibility" doesn't work on Safari 5, for example.

Here is a test case :
http://codepen.io/mh-nichts/pen/wWowxy
The first list uses the flex short-hand, the second one uses only flex-grow.
On all mod

[2016-06-21 09:50] mh-nichts opened #909 "Flexbox : alternate value for justify-content: space-around for box-pack (2009 spec)"
I've seen the #527 merge and the #426 and #526 issues, which relate to the alternate value for -ms-flex-pack : it has been corrected for "distribute" in case of "space-around" for justify-content.

Currently, it's the same alternate value that is used for both flex-pack and box-pack in the justify-content mixin.
However, in the 2009 spec (box-pack), "distribute" doesn't exist : [the values can be

[2016-06-21 10:09] ktamiola commented on #907
The problem is linked to the usage of `span`, the animation works for `div` but breaks the layout...

[2016-06-21 13:13] tysongach commented on #908
Hi @mh-nichts!

[We only support Safari 6.1+ in Bourbon 4](https://github.com/thoughtbot/bourbon/tree/v4-stable#browser-support). We don’t support Safari 5 because the [current global usage is 0.06%](http://caniuse.com/usage-table) (0.10% for Safari 5.1).

It’s also worth noting that all prefixing mixins (including all of the flex ones) have been deprecated and removed in v5, which is our next rel

[2016-06-21 13:13] #908 closed

[2016-06-21 13:15] tysongach commented on #909
Hi @mh-nichts!

As mentioned in #908, [we only support Safari 6.1+ in Bourbon 4](https://github.com/thoughtbot/bourbon/tree/v4-stable#browser-support). We don’t support Safari 5 because the [current global usage is 0.06%](http://caniuse.com/usage-table) (0.10% for Safari 5.1).

I’d suggest using Autoprefixer, which is a better tool for the job and you can target specific browsers to fit your proje

[2016-06-21 13:15] #909 closed

[2016-06-21 14:06] mh-nichts commented on #909
Thanks for the explanation, sorry for not reading carefully the browser support list.

[2016-06-21 14:07] mh-nichts commented on #908
Thanks again for the explanation.

[2016-06-21 14:16] tysongach commented on #909
@mh-nichts No worries! Always here to help, if you need anything.

[2016-06-23 15:04] mpukit commented on #702
+1 autoprefixer! Is there a tentative date as to when the docs for v5 will be accessible, even in a beta format? Or changelog is it for a while?

[2016-06-23 15:06] tysongach commented on #702
@mpukit I hope to make progress on this tomorrow and get some rough docs up.

[2016-06-28 23:55] simmerer commented on #883
Same issue cropped up  in Rails 5.0.0.rc2 today after running `bundle update`. Didn't have `bourbon` in my Gemfile, and adding it to my Gemfile didn't resolve it.

[2016-06-30 14:48] tysongach commented on #702
You can now view 5.0 documentation here: http://bourbon.netlify.com/docs/5.0.0

The site is a work-in-progress and we’ll be deploying to that temporary domain while we develop it. Please let us know if you have feedback!

cc: @mpukit

[2016-06-30 20:16] mpukit commented on #702
Awesome. Thanks!

[2016-07-06 15:37] iandstanley opened #910 "Issue with font-family in sass/scss"
- First time project with bourbon/neat
- Installed bourbon/neat/bitters as per instructions on website
- I am using Jekyll as a build compiler / web server (website target on github)

I have been trying to use the **font-family: $helvetica** in my sass and keep getting the same error

...error:

This goes back to the source code:
[code]

main.scss contains
[code]

neat-settings.scss does not overr

[2016-07-06 15:40] tysongach commented on #910
@iandstanley `$helvetica` was renamed to `$font-stack-helvetica` in Bourbon 5.

[2016-07-07 09:20] Devinsuit commented on #873
Fix in [https://github.com/thoughtbot/bourbon/pull/911](url)

[2016-07-07 09:31] Devinsuit commented on #872
Fix in [#911](https://github.com/thoughtbot/bourbon/pull/911)

[2016-07-07 17:28] cyzanfar opened #914 "ActionView::Template::Error (Undefined variable: "$minor-third".):"
Using `Rails 4.2.6` API mode only.

my gemfile:
[code]
and in assets/stylesheets/application.sass

[code]

not sure if I have everything set up but when I start my server and navigate to localhost:3000/admin I get this error:

[code]

Any help here ? Thanks!

[2016-07-07 17:33] tysongach commented on #914
@cyzanfar Can you upgrade Bourbon? Looks like you’ve specified `0.2.1` in your Gemfile, which is _very_ old; the current version is `4.2.7`.

[2016-07-08 01:21] #872 closed

[2016-07-08 01:21] #873 closed

[2016-07-09 20:46] whmii opened #916 "SASS_PATH impot does not work if there are multiple libraries using the same method"
https://github.com/thoughtbot/neat/issues/460

Neat 2.0 and cask both use a join to append their file paths to the `SASS_PATH` variable so that they are accessible within the stylesheets. Unfortunately, if there is more than one library using this same method, the join does not function correctly and they append the url directly to the previous entry instead of adding another item to the array res

[2016-07-11 01:41] tysongach commented on #916
@whmii This is an issue with Neat 2.0.

History:

- We tried simplifying: https://github.com/thoughtbot/bourbon/commit/73b09f618bd3189bf5af6f639e3df07680ed4fc7
- It then broke the world: https://github.com/thoughtbot/bourbon/pull/879
- We then went back: https://github.com/thoughtbot/bourbon/commit/a462ed2ac92db0e40ea2a7716eb7f5628e3ea523

The current path in Neat 2.0 is one that is caught in the

[2016-07-11 14:08] tysongach commented on #916
@whmii Here’s a fix for Neat: https://github.com/thoughtbot/neat/pull/461

Closing this in favor of that PR.

[2016-07-11 14:08] #916 closed

[2016-07-12 00:58] elisechant opened #917 "Deprecate placeholder mixin or move to "Add-ons""
Deprecate placeholder mixin or move to "Add-ons" as it's not required in modern build environments, ie using autoprefixer as a post process.

[2016-07-12 02:33] elisechant opened #918 "Incorrect case handling for some vendor prefixes like flexbox"
### Expected behavior
When I invoke the prefixer mixin, in the case of flex(), the resultant code does not correctly prefix flex syntax because the implementation is non-regular across browser permutations and is not as simple as literally _prefixing_ with "-webkit", "-moz" etc.

Additionally there are other "hacks" that tools like autoprefixer act to regulate. This is their list of non-regular ve

[2016-07-12 02:38] elisechant commented on #918
can close, just reviewing v5 announcement where this is addressed: https://github.com/thoughtbot/bourbon/issues/702

[2016-07-13 13:50] tysongach commented on #917
Hi @elisechant! The placeholder mixin has been removed in v5.0 (currently in beta). See https://github.com/thoughtbot/bourbon/issues/702 for more info.

[2016-07-13 13:50] #917 closed

[2016-07-13 13:50] tysongach commented on #918
Hi @elisechant! Yep, we’ve removed all prefixing mixins in v5.0 (currently in beta).

[2016-07-13 13:50] #918 closed

[2016-07-13 13:51] tysongach commented on #914
@cyzanfar Did you have any success with upgrading Bourbon?

[2016-07-13 13:51] tysongach commented on #910
@iandstanley Are you still having issues?

[2016-07-13 15:05] iandstanley commented on #910
Nope.

Similar problem exists with the docs for each of the font stacks.

I was going to sort out a patch to the docs but after running bundle install from the cloned repo it took out my working copy of Jekyll preventing me from continuing with my current design work. Fixing that took me a day of repeatedly uninstalling and installing Ruby and Gems till I was sick of it.

I'll maybe look at creati

[2016-07-13 15:05] #910 closed

[2016-07-13 15:14] tysongach commented on #910
@iandstanley Sorry to hear about your troubles. Couple notes:

- The current stable release is 4.2.7. In that version, `$helvetica` is the proper variable name.
- In v5.0.0 beta version, `$helvetica` was renamed to `$font-stack-helvetica`, so if you’re on the beta, you’ll want to call that new name.
- The website (bourbon.io) docs are current to 4.2.7 and not up-to-date with the 5.0.0 beta, so the

[2016-07-13 19:06] PierBover opened #919 "importing with node-sass"
So I'm using `node-sass` in my project and trying to import Bourbon.

In my `build-css.js` script I have tried this:
[code]

In my `index.scss` I have tried different ways too:
[code]

`node-sass` doesn't want to build. 😕

What am I missing?

[2016-07-13 19:08] PierBover commented on #919
I fixed it... I hadn't tried the last combination.

[code]
and
[code]

🎉

[2016-07-13 19:08] #919 closed

[2016-07-14 23:05] elisechant commented on #917
nice 👍

[2016-07-14 23:05] elisechant commented on #918
nice 👍

[2016-07-16 22:17] #914 closed

[2016-07-19 01:47] ACPK opened #920 "Undefined variable: "$gutter"."

[2016-07-19 08:47] ianjohnspain opened #921 "Bourbon + bootstrap: and use of REM function"
As part of bootstrap there is a css reset that appears to set the font-size to 10px on the html element and 14px on the body. I assumed that the REM function takes into account the HTML value.

I have forced a reset using $em-base to 10px like so

[code]

but an image that is set to rem(16) ends up being a computed value of 10px i.e. which is not right. rem(16) != 1em.

[code]

Still a little conf

[2016-07-19 13:17] whmii commented on #920
Hi @ACPK thanks for opening an issue.

Unfortunately I am going to need more information than what you have given, things like:

- What environment are you using? Ruby, gulp, etc
- What version of neat are you running
- What kind of error are you getting

[2016-07-19 13:18] whmii commented on #920
Also you opene

[2016-07-19 13:18] #920 closed

[2016-07-19 17:25] whmii commented on #883
@fschroiff you may be missing the sass path declaration in your gulpfile. Check out [the Bitters contrib gulpfile](https://github.com/thoughtbot/bitters/blob/master/Gulpfile.js). It works so there may be something that your gulpfile needs.

[2016-07-19 22:44] tysongach commented on #921
Hi @ianjohnspain! Let me see if I understand correctly…

If you use `rem(16)`, you get an output of `0.625rem` (this computes to 10px if `html` is set to `16px`)?

This isn’t actually the case. Since Sass gets _compiled_ into CSS, we are unable to truly know what font size the `html` element is set to upon rendering a page in the browser.

This is why we removed Bourbon’s `rem()` and `em()` functi

[2016-07-20 04:40] ianjohnspain commented on #921
Ah thanks. Ok. Thanks for the info

[2016-07-20 04:40] #921 closed

[2016-07-21 08:00] lifeiscontent commented on #239
@plapier I think this issue still exists in Proteus for Middleman. Any ideas how to fix?

[2016-07-26 18:20] patleb opened #925 "Is Rails still supported?"
I was trying the version 5 of Bourbon and assets requirements do not work anymore, I have to go through bower-rails to make it work. The suspected commit which remove Rails integration is this one 73b09f618bd3189bf5af6f639e3df07680ed4fc7.

[2016-07-26 18:27] tysongach commented on #925
Hi @patleb!

Yes, we still support Rails (4.2+ to be exact, with Bourbon 5). What beta number of Bourbon 5 are you using?

We did have a bug in v5.0.0.beta.3. If you’re using v5.0.0.beta.5/v5.0.0.beta.6, you should be fine.

Re: commit 73b09f618bd3189bf5af6f639e3df07680ed4fc7: We removed an old Rails Engine which was needed back with Rails 3. That commit did introduce a `SASS_PATH` issue, though,

[2016-07-26 19:03] patleb commented on #925
The complete stack is Rails 5, Sprockets 3 (with sassc-rails and other stuff to make it fast) and I was on the master branch (so v5.0.0.beta.6). I took a look and `SASS_PATH` isn't used in sassc-rails. Not sure though if it's a good idea to set directly an env variable instead of adding a path to `Sass.load_paths` or using some other configs in the app context as fallback (sass-rails does it). Eng

[2016-07-26 19:26] tysongach commented on #925
Apologies, the Rails stuff is a bit out of my wheelhouse.

- What’s the exact error that you’re getting?
- What does your `application.scss` look like? You removed the Sprockets directives, correct?
- The the code open-source somewhere we could see it?

I’ll have to do some more digging…

[2016-07-26 20:16] patleb commented on #925
No apologies needed, I understand that Rails Assets Pipeline and Engines aren't straightforward to grasp without having played (suffered) with before. I've made a commit for re-integrating bourbon within Rails assets pipeline if you wanna a take a look 1d49cfb3b379eeac723f62c29c056fe357686aa5.

[2016-07-26 20:21] patleb commented on #925
Let me know if you want a pull request.

[2016-07-26 20:22] tysongach commented on #925
@patleb Can you further explain what that does? I’m not sure I grasp…

[2016-07-26 20:34] patleb commented on #925
Yep, sure. Sprockets has sass-rails (or sassc-rails, in my case) to define the Sass preprocessor and both use `config.assets.paths` to tell Sass where to find the assets (`require` and `@import` works similarly since sass-rails customizes the `@import` directive). So basically, my modification tells Rails to add the `core` directory to its configuration when the Bourbon::Engine is loaded.

[2016-07-26 20:57] tysongach commented on #925
@patleb So, you’re using Sprockets and `require` directives in your `application.scss`? We’ve had issues in the past with Sprockets because it doesn’t handle things the same way Sass’s `@import` does. More info here: https://blog.pivotal.io/labs/labs/structure-your-sass-files-with-import

And [from the Rails guides](http://guides.rubyonrails.org/asset_pipeline.html):

I’m not sure where I see wher

[2016-07-26 22:25] patleb commented on #925
Nop, I'm well aware of drawbacks with `require` in sass, I'm using `@import` and sass-rails is not part of Sprockets but uses it and registers a `SassImporter` as a new kind of preprocessor so we could use `.erb` without specifying the extension and allow a generic directory import like this `@import 'core/**/*'`. I understand how `Sass.load_paths` could be problematic, but it's independent of Rai

[2016-07-26 22:47] tysongach commented on #925
@patleb I guess I’m just trying to understand where discrepancy is. We use Bourbon in Rails apps everyday here at thoughtbot and haven’t had an issue. I even just spun up a quick Rails 5 app to test and all seemed fine. This was using sass-rails, not sassc-rails.

So this seems to be an issue with sassc-rails, specifically, right? Is there a reason they apparently don’t support `SASS_PATH`? The is

[2016-07-26 23:48] patleb commented on #925
Yes, exactly, it's a loading error, the problem seems to be on sassc-rails side (if `SASS_PATH` is supposed to be the standard way to configure load paths). I don't know why it doesn't work, I might take a deeper look eventually. Thx for your time.

[2016-07-27 09:55] lab-js commented on #822
+1

[2016-07-27 14:59] tysongach commented on #822
@jeremykenedy @lab-js Are you able to install other gems, or is this isolated to Bourbon? What’s your development environment look like?

[2016-07-27 17:08] patleb commented on #925
I verified and there is no implementation with `SASS_PATH` in [sassc](https://github.com/sass/sassc), but there was a discussion about it [here](https://github.com/sass/libsass/issues/90). I doubt that it'll be added soon, so it comes down to the question : do you want bourbon to support sassc-rails or not?

[2016-07-27 17:39] tysongach commented on #925
@patleb I don’t think it’s quite that simple. It seems like core Sass contributors are indicating that sassc _should_ be supporting `SASS_PATH`:

and

---

Of course we do, but introducing complexities here within our code base to account for sassc seemingly not following the guidance of the Sass team feels like the wrong path forward. It’s also worth noting that SassC::Rails is a wrapper around S

[2016-07-27 19:21] patleb commented on #925
You're right, it's SassC-Ruby, my mistake. I just opened an issue about it [here](https://github.com/sass/sassc-ruby/issues/46) and there is [my sample app](https://github.com/patleb/bourbon_sample_app) to test the scenario if you want (the example you showed me isn't a Rails app).

Even if this is considered as an added complexity (which I'm not convinced considering the amount of time I passed l

[2016-08-03 12:24] #925 closed

[2016-08-04 13:47] nicolaswecandoit opened #926 "File to import not found or unreadable: bourbon..."
Hey,
I have all time the same error with Bourbon. I dont know why... I intalled active_admin gem and i have this error : Sass::SyntaxError in Admin::Dashboard#index / File to import not found or unreadable: bourbon.

`Load paths:
  C:/Sites/SiteDeCamping/campi2/app/assets/images
  C:/Sites/SiteDeCamping/campi2/app/assets/javascripts
  C:/Sites/SiteDeCamping/campi2/app/assets/stylesheets
  C:/Sites

[2016-08-08 15:28] tysongach commented on #926
Hi @nicolaswecandoit! Let’s see if we can isolate where this error is being introduced…

In your `application.scss`, since you’re working within a Rails app, your Sass import for Bourbon simply needs to be `bourbon`, instead of `bourbon/bourbon`, like this:

[code]

You’ll want to do the same for Neat.

[2016-08-09 00:46] quangv opened #927 "@import 'bourbon/bourbon' doesn't import."
### Expected behavior
bourbon is imported to `test.css`

### Actual behavior
`test.css` is 2 blank line. There was no error messages

test.css:
[code]

### Steps to reproduce behavior
[code]

### Bourbon version
Bourbon 4.2.7

### Environment info
Sass 3.4.22 (Selective Steve)

### Screenshots (if relevant)

When I create a `_test2.scss` and import it, that works...

[2016-08-09 01:11] quangv commented on #927
https://github.com/thoughtbot/bourbon/issues/20 - doh

[2016-08-09 01:11] #927 closed

[2016-08-09 01:15] tysongach commented on #927
@quangv Yes, Bourbon has zero output on install. Only when you _use_ a feature will you have output. We consider this a feature; very lightweight, and full author control! Glad you got it sorted. 😄

[2016-08-15 17:50] akashdevaraju commented on #239
@plapier Thanks a bunch! This worked for me today.

[2016-08-16 10:02] davebowker opened #928 "Gradients"
Apologies if this is in the wrong place, but I couldn't find any forum/slack/irc/etc to raise it.

I've read through the docs and see that you're no longer supporting pre-fixed mixins -- is this why bourbon 5 beta 6 has removed the linear and radial gradients?

On another note:
I tried to use bitters (latest version from bower) with bourbon 4.2.7 but it failed due to not having the $font-stack var

[2016-08-16 12:54] tysongach commented on #928
Hi @davebowker!

Yes, we’ve removed the linear and radial gradient mixins in Bourbon 5 because they were simply prefixing values, which is no longer needed (or Autoprefixer can do it for you).

[2016-08-16 12:54] #928 closed

[2016-08-16 12:54] tysongach commented on #926
@nicolaswecandoit Any update here?

[2016-08-16 18:13] celik88 commented on #702
8/21 marks 1 year since alpha 0! Hopefully we can have version 5 out of beta and released soon. Thanks for all the hard work guys!

[2016-08-18 16:52] #926 closed

[2016-08-21 17:08] whmii commented on #883
@fschroiff any word on this? get things sorted out?

[2016-08-22 13:15] #883 closed

[2016-08-25 07:21] jm-kumaresh opened #929 "'No mixin named' error for all mixins"
### Expected behavior
Should compile the mixin successfully

### Actual behavior
Error: no mixin named placeholder

### Steps to reproduce behavior

### Bourbon version
Bourbon 5.0.0.beta.6

### Environment info
Windows 10
Using [Tars](https://github.com/tars/tars) build system

### Screenshots (if relevant)
![image](https://cloud.githubusercontent.com/assets/2070512/17960221/5f659f90-6ac2-11e6-91

[2016-08-25 07:54] mykhrd commented on #929
the mixin files were gone when I tried installing v.5 via gulp. when i tried to get back the files from the assets folder here in git, deprecation error occurs.

[2016-08-25 09:25] jm-kumaresh commented on #874
Does this issue solved..? I'm using refills for my projects which requires bourbon.

[2016-08-25 13:23] tysongach commented on #929
@jm-kumaresh Your comment in #874 leads me to believe you are using Refills? If so, I’d recommend not yet using Bourbon 5 (which is currently in beta).

The current release of Refills is not up to date with Bourbon 5 yet, though the `master` branch on GitHub is.

[2016-08-26 05:35] jm-kumaresh commented on #929
@tysongach But I read refills requirements is Bourbon 5.0+. Will it run with the previous version (4.2.7) of Bourbon..?

[2016-08-26 13:34] tysongach commented on #929
@jm-kumaresh Yes, it will run with 4.2.7. Sorry, the readme on GitHub is referring to the `master` branch. I'll make that more clear.

[2016-08-26 17:24] tysongach commented on #929
@jm-kumaresh I’m struggling to cut a new release of the Refills gem which includes updates for Bourbon. But both the Refills website and the GitHub `master` branch _are_ up to date with Bourbon, so you can pull from there.

[2016-08-26 17:24] #929 closed

[2016-08-28 20:46] mimoYmima commented on #120
thanks @ales82 I had my bourbon.scss file moved which was causing the problem!

[2016-08-28 22:30] losvedir opened #932 "Gem slows rails boot"
### Expected behavior

Conceptually, I'd expect bourbon would mostly be a few static sass files and shouldn't appreciably affect rails start up time (e.g. firing up `rails console`).
### Actual behavior

When I ran [bumbler](https://github.com/nevir/Bumbler), a gem which analyzes how the gems in a rails app's `Gemfile` affects boot time, I saw that the `bourbon` gem was one of my slowest gems, add

[2016-08-30 05:43] erichonkanen commented on #919
it'd be nice if this was added to the readme as example under the node-sass install instructions!

[2016-08-30 05:48] PierBover commented on #919
Here is my full script just in case it might help someone:

[code]

[2016-08-30 13:48] creuter opened #933 "Sass (libsass?) won't compile with custom settings"
### Expected behavior

Adding

[code]
should let Sass compile, and change the modular scale ratio.

### Actual behavior
`error: Compiling of web/static/css/app.scss failed. Undefined operation: "null gt null". ^G`

It compiles when removing the `_` from `$_bourbon-defaults:`, but that obviously doesn't update bourbon's settings.

### Steps to reproduce behavior
Add

[code]

after bourbon's been im

[2016-08-30 13:51] creuter commented on #933
Whoops. I needed to set `$bourbon`, not `$_bourbon-defaults`.

[2016-08-30 13:51] #933 closed

[2016-08-30 13:52] tysongach commented on #933
The `$_bourbon-defaults` map is internal to the library. This is where we set default configuration options.

As a user, you can set a `$bourbon` map with your own overrides to the configuration and we’ll use those values instead. We merge the two maps, so if you only want to change one setting, you can do that.

[2016-09-02 13:57] afm-sayem opened #934 "Publish the v5 beta to NPM?"
Currently, the npm version is sitting at `4.2.7`. I suggest releasing the beta version under a tag so that people who are starting a new project can use the latest beta right away.

The files generated by bitters `v1.4` is incompatible with bourbon `4.x` which is forcing me to install an older version of bitters.

I'm getting  `Error: Undefined variable: "$font-stack-system".` on the files generat

[2016-09-04 08:26] Juanelorganelo commented on #934
Try with
[code]

[2016-09-05 00:19] tysongach commented on #934
We do publish the beta to npm. You can use the command above; thanks @Juanelorganelo!

[2016-09-05 00:19] #934 closed

[2016-09-06 17:52] tysongach commented on #934
FWIW, you can also run `npm install bourbon@beta` to get the latest beta.

[2016-09-07 09:49] peterpeterparker opened #936 "Border color linear-gradient"
First of all, thx for the cool library, really useful!

Maybe I missed it, but there is no way to use the linear-gradient to define border-color right?

I want to achieve rounded buttons, with no background (or transparent) and with a linear-gradient as border color. If that would be possible with bourbon, that would be awesome

[2016-09-07 14:06] abea commented on #936
It looks like the [`border-image`](http://bourbon.io/docs/#border-image) mixin is all set up to handle linear or radial gradient borders: https://github.com/thoughtbot/bourbon/blob/v4-stable/app/assets/stylesheets/css3/_border-image.scss#L23-L27.

[2016-09-07 14:23] peterpeterparker commented on #936
Didn't worked for me. I tried

    mybuttonclass {
        @include border-image(linear-gradient(to bottom, white, red));
        border-width: 10px;
    }

and I ended up with a weird button with a gradient square on every corner of the button...

<img width="135" alt="capture d ecran 2016-09-07 a 16 23 23" src="https://cloud.githubusercontent.com/assets/16886711/18315475/6cf58986-7517-11e6-8373-

[2016-09-07 14:40] whmii commented on #936
@peterpeterparker That's basically working as intended. The real trick is that what you are trying to do may just be too complex for the mixin to handle, since all it's doing is some prefixing and defaults. Check out this post on css linear gradient boarders https://css-tricks.com/examples/GradientBorder from @css-tricks

Unfortunately css borders with gradients is barely possible.

[2016-09-07 14:59] whmii commented on #936
@peterpeterparker I made a CodePen of what you were trying to put together. You probably want to just write this out in vanilla css.

http://codepen.io/whmii/pen/qadqwk

[code]

[2016-09-07 15:39] peterpeterparker commented on #936
thx for the example @whmii !

looks good on Chrome but unfortunately doesn't work for me on Safari :(

right now I could solve my designer issue with a span inside a little bit bigger button with both a different background color (button = background gradient, span background white for example).

but still would be cleaner to do it with a bourbon's mixin.

[2016-09-08 23:13] kgcreative commented on #862
adding the path to your include paths in your plugin configuration did the trick for me
[code]

[2016-09-11 12:23] sobolevn opened #937 "Broken image in the README"
### Screenshots (if relevant)
<img width="868" alt="2016-09-11 15 21 30" src="https://cloud.githubusercontent.com/assets/4660275/18417280/a811a558-7833-11e6-941d-b0b33b66f884.png">

[2016-09-13 22:57] pixelstorm opened #939 "invalid property value @include justify-content('center')"
### Expected behavior

[code]

### Actual behavior

[code]

### Steps to reproduce behavior

[code]

### Bourbon version

Bourbon 4.2.6

### Environment info

libsass

### Screenshots (if relevant)

[2016-09-14 11:55] peterpeterparker opened #940 "Font color linear gradient"
Hi,

Am I missing something or doing something wrong, but I'm not able to set a font color as gradient.
I tried following

    .myTest {
            color: linear-gradient(to bottom, #feb79c, #ff65a9);
     }

Which is interpreted by Chrome as "Invalid property value"

Thx in advance for your help

[2016-09-14 13:37] abea commented on #940
`color` can't be a gradient. CSS considers gradients to be like images. See: https://developer.mozilla.org/en-US/docs/Web/CSS/color

This is unrelated to Bourbon, but you can make text a gradient using the `-webkit-background-clip` or the `mix-blend-mode` properties. It looks like browser support might be decent for the former, though you'd want a fallback. None in IE for `mix-blend-mode`.

- mix-

[2016-09-14 14:47] peterpeterparker commented on #940
Thx for the nice detailed answer, understood.

I build an app for iOS and Android. Gonna try my luck with following piece of code using  -webkit-background-clip as you proposed, otherwise gonna have to use a svg or something like that.

        @include linear-gradient(to bottom, $fluster-peach1, $fluster-peach3);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

[2016-09-14 14:47] #940 closed

[2016-09-14 23:20] Jonjoe opened #941 "Duplicate"

[2016-09-14 23:20] #941 closed

[2016-09-15 20:13] tysongach commented on #939
Hi @pixelstorm!

To clarify, the expectation is that there should _not_ be quotation marks around `center` in the output, right?

If so, you can remove them from the `@include` and it won’t output them:

[code]

…outputs:

[code]

[2016-09-15 20:16] tysongach commented on #936
I’m going to close this issue as it relates to CSS features and less about an issue with Bourbon. The `border-image` mixin was meant to handle prefixes, but we’ve moved away from that strategy.

[2016-09-15 20:16] #936 closed

[2016-09-15 21:00] pixelstorm commented on #939
Ah.. Thanks. I should have realized it was the quotes.

[2016-09-15 21:00] #939 closed

[2016-09-23 19:31] tysongach commented on #932
Hey @losvedir! This is interesting; thanks for looking into it.

I haven’t had a chance to dive into what could be causing this, but out of curiosity have you tried v5.0.0.beta.6?

[2016-09-28 20:29] zarianl opened #943 "Undefined mixin 'radial-gradient'."
### Expected behavior
After installing both the Rails Gem and the regular gem, neither one seems to contain the radial gradient mixin.

[2016-09-29 13:16] #937 closed

[2016-09-29 13:18] tysongach commented on #943
Hi @zarianl!

What version of Bourbon are you using? Can you share the code where you’re invoking the `radial-gradient` mixin?

[2016-09-29 14:14] zarianl commented on #943
Bourbon 5.0.0.beta.6

.radial-bg{
          @include radial-gradient(rgba(43, 144, 217, 1), rgba(43, 144,
217, 0));
          height: 150px;
          width: 250px;
          position: absolute;
          display: inherit;
          z-index: -2;
          top: -30%;
          left: -30%;
        }

On September 29, 2016 at 7:18:18 AM, Tyson Gach (notifications@github.com)
wrote:

Hi @zarianl <http

[2016-09-29 15:39] tysongach commented on #943
The `radial-gradient` mixin has been removed in Bourbon 5.

You can read more about this decision in [this Issue](https://github.com/thoughtbot/bourbon/issues/702), as well as view a full list of removals and other changes in our [Change Log](https://github.com/thoughtbot/bourbon/blob/master/CHANGELOG.md).

It’s also worth noting that CSS gradients has pretty strong support these days, so you migh

[2016-09-29 15:39] #943 closed

[2016-10-14 18:29] tysongach opened #944 "Update `hide-visually` for better pronunciation"
Facebook recently discovered that the technique they were using to hide content visually (which is the same as what we use in the `hide-visually` mixin) was causing each letter to wrap to new lines and therefore be pronounced oddly.

Adding `white-space: nowrap;` resolved the issue, and we should update our mixin to do the same.

Reference: https://medium.com/@jessebeach/beware-smushed-off-screen-

[2016-10-17 18:10] mcmire opened #945 "Bourbon mysteriously not found in Rails 5 app"
I just discovered something weird/interesting.

I have a Rails 5 app where I have Bourbon (5.0.0.beta.6) in the Gemfile, but not Neat. `application.scss` has `@import "bourbon"` at the top of it. When I attempt to load any page, Rails reports that it doesn't know how to find Bourbon. However, as soon as I add Neat to the Gemfile, then everything seems to work.

I noticed that a while back, the Rai

[2016-10-17 18:24] mcmire commented on #945
On closer inspection, I don't think this has anything to do with Neat, but this might have something to do with using the `bourbon` gem in combination with the `bootstrap-sass` gem instead. I'm noticing that if `bootstrap-sass` is listed after `bourbon` in the Gemfile then everything seems to be okay, but as soon as you switch the order then Rails says it can't find Bourbon. I'll see if I can repr

[2016-10-17 20:33] frodsan commented on #945
I'm experiencing the same. The environment variable is set:

[code]

But it couldn't be find by sprockets:

[code]

[2016-10-17 20:52] mcmire commented on #945
Okay. For the record, I am using Sprockets 3.

[2016-10-21 14:48] bekapod commented on #944
@tysongach were you going to work on this or can I work on a PR (within the next few days)? 😄

[2016-10-21 15:02] tysongach commented on #944
@bekapod Go for it! Thanks for hopping in.

[2016-10-21 19:56] tysongach opened #946 "Improve Issue and PR templates"
I think we provide further clarity within our [Issue](https://github.com/thoughtbot/bourbon/blob/master/.github/ISSUE_TEMPLATE.md) and [PR](https://github.com/thoughtbot/bourbon/blob/master/.github/PULL_REQUEST_TEMPLATE.md) templates to better frame problems and solutions.

Some projects doing great this in this space:
- https://github.com/alphagov/govuk_frontend_alpha/blob/master/.github/ISSUE_TE

[2016-10-24 10:58] bekapod commented on #944
(I haven't forgotten about this, I plan to work on it this evening 😄 )

[2016-10-28 20:25] #944 closed

[2016-11-01 06:09] erichonkanen opened #961 "Transition mixin doesn't work in ember project"
Hello, previously I have used bourbon with success, in a newer project it seems to work except the `@include transition()` mixin which does not work and does not inject the styles into the element.

any ideas on how to diagnose this?

[2016-11-01 12:36] tysongach commented on #961
Hi!

What version of Bourbon are you using? Note that the `transition` mixin has been removed in v5.0.

[2016-11-01 20:24] #961 closed

[2016-11-01 21:39] tysongach opened #963 "Add tests for gamma function"
https://github.com/thoughtbot/bourbon/blob/master/core/bourbon/utilities/_gamma.scss

[2016-11-01 21:39] tysongach opened #964 "Add tests for lightness function"
https://github.com/thoughtbot/bourbon/blob/master/core/bourbon/utilities/_lightness.scss

[2016-11-01 21:40] tysongach opened #965 "Add tests for contrast-ratio function"
https://github.com/thoughtbot/bourbon/blob/master/core/bourbon/utilities/_contrast-ratio.scss

[2016-11-02 18:01] tysongach opened #966 "Update to SCSS-Lint 0.50.2"
The [current version of SCSS-Lint is `0.50.2`](https://github.com/brigade/scss-lint/releases), but we are currently back on `0.48.0`.

[2016-11-03 02:16] tysongach opened #967 "Add errors to hide-visually mixin"
The `hide-visually` mixin expects either `hide` or `unhide` as the value of its argument. Anything else and it doesn’t work.

We should add helpful messaging via `@error` to validate user input is one of the two acceptable values.

[2016-11-04 15:32] tysongach commented on #945
@mcmire Are you still having issues? Is this code available somewhere that I can see it?

[2016-11-04 15:45] tysongach commented on #945
@mcmire Also, if you move down to Bourbon `4.2.7` in your Gemfile and bundle, does the “not found” error persist? Note that you may get a Sass error when doing this (since some 4.x features have been removed in 5.x), but if the “not found” error goes away, that is very interesting.

[2016-11-04 15:54] teoljungberg commented on #945
@mcmire -

Tyson and I tried to reproduce this issue by creating a new Rails 5 app, which can be found here: https://github.com/teoljungberg/rails-5-bourbon-issue.

We sadly weren't successful.

Could you look in the our reproduction app and see if there's anything you did differently in yours?

[2016-11-04 18:08] mcmire commented on #945
Hey @tysongach and @teoljungberg! It's a client project so unfortunately I can't share the code, but I did take a look at the Rails app you created and tried a few things with it. Surprisingly I wasn't able to reproduce this issue, either. I also tried to downgrade Bourbon in my app but I was still seeing the not found error. So... I guesss maybe the issue is with some other gem, I'm not sure. Any

[2016-11-04 18:50] tysongach commented on #945
Interesting. I wanted to test this because in `5.0` we did adjust the `SASS_PATH` and I worried it was the root cause (although those have been shipped in quite a few betas with no other reported issues). But going to `4.x` maintains the same error…

I don’t have any new ideas on how to isolate and find the problem yet.

[2016-11-04 20:13] mcmire commented on #945
Cool. Mind if I close this, then? If I figure it out then I'll report back.

[2016-11-04 20:25] tysongach commented on #945
@mcmire Sounds good. Best of luck!

[2016-11-04 20:25] #945 closed

[2016-11-08 01:12] tysongach opened #970 "Investigate moving away from SCSS-Lint"
scss-lint is [potentially being deprecated](https://github.com/brigade/scss-lint/commit/4ac76f9575464028447cbc4042d92eb1089d3899) and the team has indicated that the community might want to start using other tools.

[Sass Lint](https://github.com/sasstools/sass-lint) looks like it might be a good alternative, having a close feature parity.

[2016-11-08 16:20] AndreiMotinga opened #972 "File to import not found or unreadable: bourbon."
### Actual behavior
[code]
### Steps to reproduce behavior
add "rails_admin" gem to app generated with suspenders.

### Bourbon version
gem 'bourbon', '5.0.0.beta.6'

Gemfile
[code]

[2016-11-09 20:10] tysongach commented on #972
I’m able to reproduce this error, but haven’t figured out why it’s happening.

[2016-11-09 22:58] jaimeeee opened #973 "Alternatives to retina-image() mixin?"
The Mixin has been removed, what is the best alternative for those who used it?

[2016-11-09 23:08] jaimeeee commented on #973
Nevermind, just saw it's because the hidpi mixin was removed for autoprefixer.

[2016-11-09 23:08] #973 closed

[2016-11-13 22:08] christiantype commented on #798
@tysongach ,  you lost me at:

[code]

[2016-11-14 13:59] tysongach commented on #798
@christiantype That appears to be an importing error somewhere around where normalize is being added. Is your code available for me to look at? Or can you post your main Sass manifest file?

[2016-11-14 18:20] frankieyan opened #975 "bn21"
### Expected behavior

### Actual behavior

### Steps to reproduce behavior

### Bourbon version

### Environment info

### Screenshots (if relevant)

[2016-11-14 18:20] frankieyan commented on #975
Wow github keyboard shortcuts fail sorry!

[2016-11-14 18:20] #975 closed

[2016-11-15 10:47] bichotll opened #976 "Unify installation guides between the readme and website"
### Expected behavior
See that it can be installed with bower/node. Not just ruby. (All this on the mainpage http://bourbon.io/).

### Actual behavior
Shows that it can be just installed with Ruby/Rails.

### Solution
Add a new line at end of it like
"Bourbon can also be installed and used with bower/node and others.
Check out our github README for more information."

[2016-11-15 13:00] flipflap opened #977 "Error: no mixin named xy after bourbon import"
I am not sure if this is a CodeKit or bourbon issue. I am asking on both:
https://github.com/bdkjones/CodeKit/issues/271

### Expected behavior
bourvon Mixin should work

### Actual behavior
Get error for all mixins: **Libsass: Error: no mixin named linear-gradient**

### Steps to reproduce behavior
Installed bourbon via CodeKit. Added @import "bourbon";

### Bourbon version
Bourbon 5.0.0-beta.7

[2016-11-15 13:32] tysongach commented on #977
Hi @flipflap!

Are you upgrading from a previous version of Bourbon? If so, note that the `linear-gradient` mixin has been removed in `5.0` (`5.0.0.alpha.0`, specifically). You can see all changes, including deprecations and removals, in our Change Log: https://github.com/thoughtbot/bourbon/blob/master/CHANGELOG.md.

The mixin was only adding vendor prefixes. Since CSS gradients are [widely suppor

[2016-11-15 13:34] tysongach commented on #976
Hi @bichotll! We actually have a new website in the works that will do a much better job at providing all of this information.

We’re focusing efforts on that new site, but feel free to put up a PR to add the line about GitHub. The current site can be found in this repo in the `gh-pages` branch.

[2016-11-15 13:35] flipflap commented on #977
Thanks tysongach, but no, it is a new project and none of the mixing works and adding font doesn't work too. Whole bourbon seems to not work. Only bitters works.

[2016-11-15 14:08] tysongach commented on #977
@flipflap The font variables have changed, as well. `$helvetica` is now `$font-stack-helvetica`.

There will be a new documentation website when `5.0` is released. It’s a work-in-progress, but it might help you now: http://bourbon.netlify.com/docs/latest/

[2016-11-15 14:20] flipflap commented on #977
Thank you. I see, it works... I didn't expect that, it seems 90% removed...

[2016-11-15 14:26] tysongach commented on #977
I think we are at about 60% of features removed, between `4.2.7` and `5.0`. _Nearly all_ of those were just prefixing mixins, though. And most of those were simply an alias for our `prefixer` mixin. The reason is that better tools for this exist, like Autoprefixer. They let you drill down to specific browser support and write much less CSS/Sass, letting automation take over. You can read more abou

[2016-11-15 14:26] #977 closed

[2016-11-15 14:30] flipflap commented on #977
It makes sense, thank you!

[2016-11-16 05:03] christiantype commented on #798
@tysongach , my project: [link](https://github.com/christiantype/jekyll-bourbon-test)

I'm using an existing Jekyll theme created by somebody else, and I'm trying to incorporate Bourbon and Neat in order to make a few changes and match my existing site which uses Bourbon and Neat.

Thanks for helping out. Let me know if you have any questions.

As of right now, this is what I am getting in termina

[2016-11-16 14:28] tysongach commented on #798
@christiantype It looks like you have Bourbon and Neat [included as static files within your `_assets` directory](https://github.com/christiantype/jekyll-bourbon-test/tree/master/_assets), which means you do not need to put them in your Gemfile or Jekyll config. You should choose to include statically, _or_ via the gem-based asset manager.

If you do want to use the gems instead, you need to defin

[2016-11-18 05:33] christiantype commented on #798
@tysongach, thank you so much! Everything is working fine now.

So what is the difference between including static files or via a gem-based asset manager?

[2016-11-18 13:39] tysongach commented on #798
@christiantype Asset managers make it easy to manage your project’s dependencies and are they version-aware, which makes it possible to change a version number in a config (like a `Gemfile` for gems) and upgrade to a new version of a library or plugin. When including assets statically in a project, upgrading would mean manually replacing a directory of files for a library with new ones. This leads

[2016-11-19 20:53] christiantype commented on #798
Okay, I think I got it. So if I update the version number in the config, would it automatically update my local folder with new files? That's what always confuses me.

[2016-11-20 18:16] tysongach commented on #798
Sort of. With gems, we use [Bundler](http://bundler.io/), which gives you the `bundle` command. From the command line, you run `bundle update gem_name` (e.g. `bundle install bourbon` or `bundle update bourbon`) in your project’s directory. It will looks at your project Gemfile, and see if there is a new version of that gem to update to. It installs these gem files not in your project directory, bu

[2016-11-23 04:57] christiantype commented on #798
@tysongach, if the gem files are not stored in the project directory, how can I make edits to them? For instance, what if I want to explore certain files within the gem and see the structure of, let's say a css file?

[2016-11-23 13:54] tysongach commented on #798
@christiantype You should not edit gem files. Consider them third-party libraries in which you interact with them via their API. Editing them would cause upgrading to be a pain.

Let’s move this conversation elsewhere, as this is outside of this issue, and Bourbon itself.

[2016-11-25 21:53] skarensmoll opened #979 "File to import not found or unreadable: bourbon angular-cli"
I just installed bourbon with **npm install --save bourbon**
then I added the **@import "bourbon";** to my scss file  and I got the following error

![image](https://cloud.githubusercontent.com/assets/7997951/20635757/a30ca79c-b32f-11e6-8a3b-44809587bd95.png)

when I use it like this ..works
 `@import '~bourbon/app/assets/stylesheets/_bourbon';`

thank you in advance!

[2016-12-01 20:22] gfauredumont commented on #972
Hi,

I'm not including rails_admin in my Gemfile but Bourbon is having a hard time on my project too.
Don't know if you prefer a new issue or not so for now...:
The Project is OS so you can check [here](https://github.com/gfauredumont/LeProjet/commit/04be5bb2302c3e8e7c2c66f61c3e49ade1ec1315) the commit after which I just added the 'administrate' line in the Gemfile and installed it.

The only poin

[2016-12-01 20:24] tysongach commented on #972
@gfauredumont Please file a new issue, as this one relates to Bourbon alongside the rails_admin gem.

[2016-12-02 10:10] gfauredumont commented on #972
Never mind, the issue I have is with Administrate which hasn't registered the dependency...
Sorry for the confusion :/

[2016-12-02 16:18] StarWar commented on #945
I'm using rails 4.2.7 and it's not finding bourbon when using 5 beta 7 and when I downgraded bourbon to 4.2.7 it worked. But now bitters stopped working because of some variable not found.

[2016-12-02 16:44] tysongach commented on #945
@starwar Please file a new issue, including all the details of your environment.

[2016-12-02 17:11] StarWar opened #981 "Bourbon is not detected in Rails 4.2.7"
I was using bootstrap and now I want to use bourbon and neat. So I removed bootstrap related gems and references to it and installed bourbon and neat. It doesn't work
### Bourbon version
  bourbon (~> 5.0.0.beta.7)

### Stack trace
[code]

Extracted source (around line #1):
[code]

I downgraded version of bourbon to 4.2.7 and it worked. But then bitters is unable to find some global variables like

[2016-12-03 00:06] kenn opened #982 "appearance is not supported with autoprefixer"
We shouldn't deprecate `appearance` for prefixing because autoprefixer decided to not support it.

https://github.com/postcss/autoprefixer/issues/43

What do you think?

[2016-12-05 12:03] ketan opened #983 "Allow parameterizing svg font ID in `font-source-declaration`"
### Bourbon version

4.2.7

### Background

I'm using the following snippet:

[code]

The above snippet leads to a couple of problems -

* `bad URI(is not URI?)` exception in `font-source-declaration` (See #686 and #195)
* users are forced to use an SVG ID ($font-family) that's not configurable. I have an SVG that uses a font id that's not the same as `$font-family` . It is currently hardcoded to

[2016-12-07 16:38] Quentame opened #984 "Mixin transform error"
### Expected behavior
No errors on Sass compilation

### Actual behavior
Hello, I'm receiving an error during the Sass compilation:
ERROR: myFile (Line 315 of target/rubygems/gems/compass-core-1.0.3/stylesheets/compass/css3/_transform.scss: Mixin transform takes 1 argument but 2 were passed.)

### Steps to reproduce behavior
- Install Ruby
- Install Sass
- Install Bourbon
- Try [Simple CSS-only Lo

[2016-12-07 17:03] tysongach commented on #984
@Quentame Hello!

This appears to be an issue because you have Compass in your project, as seen in the path you provided above:

[code]

The CSS output on CodePen is as expected, with no compilation errors.

Compass _also_ has a mixin named `transform`, so my bet is that you are passing in two arguments—which is how the Bourbon mixin works—but Compass is imported after Bourbon, so the Compass mixi

[2016-12-07 17:09] tysongach commented on #982
@kenn Hello!

- [That](https://github.com/postcss/autoprefixer/issues/43) is _very_ old issue from 2013. Autoprefixer [added support for `appearance` in `v6.1`](https://github.com/postcss/autoprefixer/blob/master/CHANGELOG.md#61-bil-shaʿb-wa-lil-shaʿb).
- Bourbon 5 still includes our `prefixer` mixin, which was the mixin that did all the hard work under the hood of each individual prefixing mixin

[2016-12-07 17:09] #982 closed

[2016-12-07 17:09] tysongach commented on #981
@StarWar If you remove the `rails_admin` gem, does the error go away?

[2016-12-07 17:53] kenn commented on #982
Ohh thank you for clarification!

[2016-12-09 12:09] Quentame commented on #984
Hi !
Yes I do have Compass imported but before.

Thanks for the answer, I will see what to do.

[2016-12-09 12:09] #984 closed

[2016-12-19 15:41] whmii opened #985 "Allow different units in `modular-scale`"
### Expected behavior
Allow a user to customize the units output by `modular-scale()`.

### Actual behavior
Currently it will only output values in `em`s

### Rationale
The `modular-scale()` function is quite handy for sizing typography, however it could be used as a universal scaling system for things like spacing as well. However the current function only allows for an output of `em`s which limi

[2016-12-20 10:22] attilagyorffy opened #986 "rem function removal without mention or recommended replacement"
The `rem` function was removed from bourbon without any mention in the CHANGELOG. I wonder what is the reason behind it (unless it was an accident I'm sure there is a valid reason) and so I'd like to learn about it.

### Expected behaviour

The `rem` function to exist or have an alternative

### Actual behavior

The function was removed in 9445e341feb942042e11f38ab556fcf69c1ab1cd without any recom

[2016-12-20 13:56] tysongach commented on #986
@attilagyorffy Hello! Both the `rem` and `em` functions were indeed removed in v5 (currently in beta). Couple notes on that:

1. This removal is mentioned in the changelog: https://github.com/thoughtbot/bourbon/blob/master/CHANGELOG.md#removed-2 (towards the bottom)
2. Here is the discussion around why they were removed: https://github.com/thoughtbot/bourbon/issues/691
3. There is no “replacement”

[2016-12-20 13:58] tysongach commented on #981
@StarWar Any update on my question above?

[2016-12-20 14:00] tysongach commented on #979
@skarensmoll Hello! npm does not automatically surface paths for Sass importing. If you are using node-sass you’ll need to add Bourbon to your `includePaths` option, like so `require("bourbon").includePaths`. Alternatively, you could use something like [eyeglass](http://eyeglass.rocks/).

[2016-12-20 14:57] attilagyorffy commented on #986
Hi @tysongach. I'm sorry I totally missed the entries on the bottom. (Small note, I have been searching for rem function as opposed to a mixin, which rem actually used to be).

Initially I was in favour of the `rem` function, having seen the discussion now I believe there's a reasonable argument for using rems directly. I'd totally suggest linking in the CHANGELOG so that other people could also b

[2016-12-20 14:57] #986 closed

[2016-12-20 15:31] tysongach commented on #986
Whoops! That’s a typo. I fixed that in https://github.com/thoughtbot/bourbon/commit/02e8b7f31288e32b98f8ec0e3eb1fe5ef06dc90c.

Awesome. I’ve added these details to the changlog in https://github.com/thoughtbot/bourbon/commit/6afd8f120d017c2091a7a2b7f96d34672b132624.

Thanks!

[2016-12-23 10:56] StarWar commented on #981
@tysongach Sorry for replying late. I did uninstall rails_admin and then updated bourbon to 5.0.0.beta.7 version and it didn't work. It's still not detecting bourbon.

[2016-12-27 01:16] rblakeb commented on #929
I am getting this problem as well when using Refills. I am using Bourbon 4.2.7 with Refills 0.2.0. The variables are working, just not the mixins.

[2017-01-04 16:46] anhari opened #987 "New feature: button-link() mixin?"
What do you think of adding a mixin that allows you to style a link as a button (similar to bootstrap's `.btn` class)?

I was thinking that it could take an optional parameter for the color and use `$action-color` as a default.

[2017-01-04 18:10] AndrewMcSwain commented on #874
It'd be a good idea to update the docs on the bourbon site................................................................. #justsayin

[2017-01-09 14:29] tysongach commented on #987
Hi @anhari! That is a great idea, but I’m not sure that Bourbon is the place for this. Bourbon doesn’t carry any visual style opinion, and it doesn’t have any classes within the library, either.

Bitters might be a better place for something like this, as it does already come packaged with some basic button styles.

[2017-01-09 14:29] #987 closed

[2017-01-10 13:30] bazaglia commented on #985
@whmii Current `modular-scale` behavior is not clear to me. I can't compile an existing project because of this line:

[code]

Error is:

[code]

However, as it is an exiting project, I guess this worked at some previous bourbon release. If I downgrade to any point, will I get it working again?

[2017-01-12 19:01] vcavallo commented on #972
@tysongach I'm also having the 'Bourbon 5 alongside rails_admin gem' issue - where would be the best place to open that issue? Here or at rails_admin? Thanks.

(for what it's worth, I'm also having issues with Bourbon 5 and administrate, but I've already [commented about that](https://github.com/thoughtbot/administrate/pull/104#issuecomment-272225288) over there.)

[2017-01-19 03:34] thelucid opened #988 "Problem importing from vendor/assets/components in Rails app with Bower"
### Expected behavior
Bourbon is getting installed in vendor/assets/components as I am using Bower with a Rails app. For some reason the main `_bourbon.scss` file is nested in `vendor/components/assets/app/assets/stylesheets/_bourbon.scss` but when I import it from there it fails.

### Actual behavior
[code]

Creates this error:

[code]

### Steps to reproduce behavior
See above.

### Bourbon vers

[2017-01-19 13:58] tysongach commented on #988
Hi @thelucid! How are you configuring Rails to import assets within `vendor/assets/components`?

[2017-01-20 17:54] sdouma opened #989 "Radial-gradient compiling strangely in scss"
So if I use this notation
`background: radial-gradient(at center bottom,red,yellow,green);`
it compiles as
`radial-gradient(at center bottom at center bottom, #ff0000, #ffff00, #008000)` .
I have heard about similar problems with linear-gradient but not sure what to do here.

[2017-01-20 18:18] sdouma commented on #989
Ok the problem I had was that I left out the optional shape parameter so instead I did `background: radial-gradient(circle at center bottom,red,yellow,green);`

[2017-01-21 02:17] tysongach commented on #989
@sdouma Hi! Is this still an active issue, or did you resolve it?

[2017-01-22 02:29] sdouma commented on #989
Ya nevermind resolved more of a compass issue

[2017-01-22 15:00] #989 closed

[2017-01-24 08:02] NySiya commented on #981
I faced the same problem.

[2017-01-24 13:51] tysongach commented on #981
@StarWar @NySiya Can anyone share a code repo we could look at and dig into?

[2017-01-24 19:58] leemcd56 opened #990 "Yarn cannot properly install Bourbon"
### Expected behavior
`yarn add bourbon` should add bourbon to package.json and install it within node_modules.

### Actual behavior
`yarn add bourbon` does add bourbon to package.json, however installs it without `app/assets/stylesheets`. However, bourbon DOES install properly through `npm install`. When running `yarn upgrade` afterwards, the same results from `yarn add` occur.

### Steps to repr

[2017-01-24 20:06] Toddses commented on #990
FWIW, I just tested this out and bourbon installed correctly. I'm using the same versions as you, except for NPM (mine is 3.10.10).

[2017-01-24 20:08] leemcd56 commented on #990
This is rather curious. Strangely enough, this open happens with two packages, `open-color` and `bourbon`, both of which properly install in `npm`, but not `yarn`.

[2017-01-24 20:11] Toddses commented on #990
Tested it out with `open-color` - no issues on that one either.

[2017-01-24 20:13] leemcd56 commented on #990
I wonder if this is a `yarn` issue?

[2017-01-24 20:19] Toddses commented on #990
Or a MacOS Beta issue? I am using 10.12.2.

For giggles, I tried a number of scenarios and `yarn` installed/uninstalled all packages with no issues. Also it was insanely faster - I see it took 20+ seconds for you to install bourbon, while I was able to install in <1 second. Could the installation be timing out? Do any of the other installed packages depend on bourbon? Can you create a new project,

[2017-01-24 20:24] leemcd56 commented on #990
In a new project, `yarn add bourbon` adds Bourbon with no issue. It appears this is only specific to [roots/sage](https://github.com/roots/sage).

[2017-01-24 20:37] Toddses commented on #990
I cloned sage and installed the dependencies with `yarn`. then added bourbon. bourbon installed fine, though i did not have the fifth step there, `Cleaning modules...`.

[2017-01-24 20:40] leemcd56 commented on #990
¯\_(ツ)_/¯ Could be a Sierra beta issue, or something to do with the yarn installation itself.

[2017-01-25 00:38] tysongach commented on #990
Have you filed an issue with Yarn? They [claim in their documentation](https://yarnpkg.com/en/docs/migrating-from-npm) that “Yarn can consume the same `package.json` format as npm, and can install any package from the npm registry.” To be thorough, I just tested install Bourbon through npm and all was good.

With that, the problem seems to be an issue with your specific environment and Yarn, and n

[2017-01-25 00:39] tysongach commented on #983
Hi @ketan! Feel free to submit a PR for that.

[2017-01-25 01:17] leemcd56 commented on #990
It is very odd behavior for Bourbon to install through Yarn just fine in other projects, but this issue occur only on *this* specific project. Only Node modules I have added in that don't already come with the project seem to fail. I will certainly file an issue with Yarn.

[2017-01-25 01:17] #990 closed

[2017-01-25 01:26] tysongach commented on #990
@leemcd56 Indeed some very strange behavior. Please do follow up with and reference your findings!

[2017-01-25 01:35] leemcd56 commented on #990
I found [this issue](https://github.com/yarnpkg/yarn/issues/785) that seems to be related. As @Toddses pointed out, the difference between my install process and his was the `Cleaning modules...` step.

So, I did some research on that. Apparently, the `yarn clean` command is being automatically run on the `yarn install` and `yarn add` commands. It generates a `.yarnclean` file, which lists out dir

[2017-01-25 01:40] leemcd56 commented on #990
[Documentation of `yarn clean` proving that claim](https://yarnpkg.com/en/docs/cli/clean).

[2017-01-25 01:45] tysongach commented on #990
Interesting. This might be resolved in Bourbon 5.0 then (currently in beta), as we’ve moved to the library being housed in a `core/` directory, rather than `app/assets/stylesheets`: https://github.com/thoughtbot/bourbon/tree/master/core

[2017-01-25 16:32] Trost123 opened #991 "Can I add bourbon v5 (beta) to my project with Bower?"
I'm using Autoprefixer, so a lot of mixins from bourbon v4 conflict with it. Bourbon v5 (beta) fixed this issue, is there any way to add it to my project using Bower?

[2017-01-25 16:57] mistergraphx commented on #991
Add this to your bower.json

[code]

[2017-01-25 20:18] placenamehere opened #992 "unprexfixed output from `display(flex !important)`"
### Expected behavior

When passing `flex !important` through the `display` mixin, i would expect the output would be all the box & flex variations, including vendor prefixes, as `flex` outputs, with the addition of the `!important` rule.

### Actual behavior

Because the prefixing logic of `display` is fairly brute force, `flex !important` fails the first conditional and skips over to the else st

[2017-01-25 20:19] tysongach commented on #991
I’m going to close this issue, as it appears to be resolved.

Couple things worth noting:
- Installing the beta from the command line is also possible: `bower install bourbon#v5.0.0.beta.7`
- Autoprefixer will also [_remove_ out-of-date prefixes](https://github.com/postcss/autoprefixer#outdated-prefixes), so there shouldn’t be a _conflict_ per se with using Bourbon 4.x with Autoprefixer, more that

[2017-01-25 20:19] #991 closed

[2017-01-25 20:19] Trost123 commented on #991
Thanks, that did the trick!
-
Is there any way to specify the version in a way, that allows checking for updates?
(analogue of "neat": "^1.8.0")
No big deal if that's impossible, just curious.

[2017-01-25 20:24] placenamehere commented on #992
fixed this locally by monkey patching the display mixin and adding additional 2 additional else if blocks, checking for `inspect($value) == "flex !important"` etc. not really dry, but i can submit a PR if there isn't a more elegant way to write that in sass.

[2017-01-25 20:27] Trost123 commented on #991
I used "Background Image" mixin, and it resulted in two identical "background-image" rules appearing in my css. Not a deal-breaker but it buggered me.
Overall I prefer to move on to Bourbon5, because a big part of B4 documentation is simly wendor-prefix-mixins, which I don't really need to know.

[2017-01-26 06:56] mistergraphx commented on #991
@Trost123  In my workflow i've a folder to store frameworks/libs and my projects load the stuff and tools from this place, so i can deal with multiple versions of bourbon, or others between my projects. Structure and gulp file is here, https://github.com/mistergraphx/Fragments_builder.

[2017-01-26 10:18] Trost123 commented on #991
@mistergraphx Thanks, but I think you misunderstood my second question there.
It's more of a bower-related question (maybe I should post it there?):
Let's pretend I do "bower install bourbon#v5.0.0.beta.7" and then bourbon#v5.0.0.beta.8 is released.
If I use "bower update" in my console - bourbon will not be updated.
[Screenshot of issue](http://prntscr.com/e0ixxw)
I think there must be something

[2017-01-26 11:26] mistergraphx commented on #991
I've understood but not really answered ;-).I gived you an example of switching between multiple versions during the pre-release period.
I'm not a "bower expert" but in the bower registry if your do `bower search bourbon` it's the version 4 witch is actually downloaded cause it's the stable branch/tag, as in the Ruby gem and It's just the maintainer of a package who choose to publish a new revisio

[2017-01-26 11:36] Trost123 commented on #991
@mistergraphx
I guess we'll just have to update manually until v5 is released as stable, but that's no big deal!
Thanks for the help. 👍

[2017-01-26 15:17] tysongach commented on #991
@Trost123 I don’t use Bower a lot, so can’t speak from experience, but it appears that you can specify a _range_ of versions: `bourbon#>=5.0.0.beta.7 <5.1.0`. This should match any betas released _after_ beta 7, and also match the stable release of 5.0, including any patch releases (5.0.x).

I just found this neat tool from npm which helps you visualize these SemVer qualifiers: https://semver.npmj

[2017-01-26 18:20] Trost123 commented on #991
@tysongach Thanks, that's exactly what I needed! And that tool sure is handy.
Also noticed a weird thing:
"npm info bourbon" returns all versions, up to 5.0.0-beta.7'
"bower info bourbon --verbose" returns versions up to 4.2.7
So the problem must be on bower's side, as NPM let's me do "bourbon#>=5.0.0.beta.7 <5.1.0" like you advised and bower doesn't.
I'll leave you alone go annoy the Bower team f

[2017-01-26 18:35] tysongach commented on #991
Ah, I think there are minor discrepancies between Bower and npm and how they handle SemVer with pre-releases. Some accept a hyphen (`-`) to denote pre-releases, others only accept periods (`.`). I can't remember who accepts which formats. I keep meaning to sit down and write it all down for reference later…but just something to watch out for.

[2017-01-26 18:44] Trost123 commented on #991
@tysongach I don't think it's about that.
[See this screenshot](http://prntscr.com/e0png0): Bower actually thinks that 4.2.7 is latest version. Also note that there are older betas in the list (on the screenshot), like "3.2.0-beta.2", so the naming conventions are not the issue here.
Going to post it on Bower repository to figure it out.

[2017-01-26 20:11] tysongach commented on #991
Interesting. Yeah, it would be nice to confirm whether Bower does or does not include pre-release versions when listing.

I _think_ Bower piggy-backs a lot of Git/GitHub tags, so it is possible we didn’t properly tag things right before, or now? It’s very opaque, but I’m intrigued to learn more!

[2017-01-26 20:41] Trost123 commented on #991
@tysongach I think I found the pattern. Look at all "beta" and "rc" versions that are in my screenshot.
Versions like "3.2.0.beta.1" are not recognized by Bower correctly, while v3.2.0-beta.1 (or 3.2.0-beta.1) are recognized.
Also if you go to https://semver.npmjs.com/ and enter "bourbon" into "pick a package" field and press enter, you'll see versions output in this format: "5.0.0-beta.5", "4.2.0

[2017-01-26 21:11] tysongach commented on #991
So this goes back to [my comment above](https://github.com/thoughtbot/bourbon/issues/991#issuecomment-275471810) on whether a hyphen or period was used to denote the pre-release. Unfortunately, npm and Bower handle this nomenclature differently than RubyGems (which we also publish to).

The Semantic Versioning spec indicates that “A pre-release version MAY be denoted by appending a hyphen and a se

[2017-01-26 21:26] tysongach commented on #991
Here is some documentation from RubyGems on them indicating use of a period to denote pre-releases: http://guides.rubygems.org/patterns/#prerelease-gems

I think the action here is that version number every _but_ RubyGems, needs to utilize the hyphen, in accordance to SemVer. RubyGems appears to be the violator of that spec, so we’ll have to use the period for them here: https://github.com/thought

[2017-01-26 21:30] tysongach commented on #991
Nah, I’m curious what they say and see if our assumptions are correct.

[2017-01-26 21:36] Trost123 commented on #991
I guess guys at Bower can fix (workaround) it, because NPM actually transforms "." into "-" before "beta"
As seen in "[npm info bourbon](npm info bourbon)"
So they could do the same.

[2017-01-26 22:05] tysongach commented on #992
Hi @placenamehere!

Thanks for doing your homework and referencing old issues/comments. I have mixed feelings on offering support for `!important` statements within Bourbon features. I’m not against them all-together, but there is a time and a place. [Harry has some nice thinking on this](https://csswizardry.com/2016/05/the-importance-of-important/).

Couple thoughts/thinking out loud:

- As you m

[2017-01-27 01:56] claeusdev opened #993 "Undefined mixin 'media'. i keep getting this error when i try to use the navigation from refill... I used suspenders to bootstrap rails app"
### Expected behavior

### Actual behavior

### Steps to reproduce behavior

### Bourbon version

### Environment info

### Screenshots (if relevant)

[2017-01-27 14:15] tysongach commented on #993
Hi @claeusdev!

The `media` mixin is a feature of [Neat](https://github.com/thoughtbot/neat) (v1.x), not Bourbon.

What version of Suspenders did you use to generate your Rails app? As of Suspenders v1.43.0, Neat 2.0 (beta) is being used, and the `media` mixin no longer exists.

Refills is currently in re-development to catch it up with the latest Bourbon and Neat betas, but the website and gem ar

[2017-01-28 00:12] claeusdev commented on #993
Hi @tysongach I used suspenders version 1.44.0.. oh okay cool so i can write my own media queries or mixins then?

[2017-01-28 12:37] Trost123 opened #994 "Using triangle mixin with one size value in 5.0"
In version 4 I was creating two triangles, using:

[code]

And it resulted in what you'd expect: right and down triangles of the same size.
http://prntscr.com/e1eo6z

In version 5 I changed the parameter order to fit new specs:

[code]

http://prntscr.com/e1epai

The triangles with direction-right get squashed vertically now.

[code]

Manually imputing width and height fixes the triangle to look l

[2017-01-28 14:38] tysongach commented on #993
@claeusdev Yes, or you can use Neat’s new `grid-media` mixin and pass in a custom grid map: http://neat.netlify.com/docs/latest/#grid-media

If you have any questions or issues with that, please file an issue over in Neat’s repo: https://github.com/thoughtbot/neat/issues

[2017-01-28 14:38] #993 closed

[2017-01-28 20:26] andyjessop opened #995 "No mixin named align-items"
### Expected behavior
`align-items` mixin should be available? http://bourbon.io/docs/#flexbox

### Actual behavior
It looks like it's not there. Searching for `align-items` in `/bourbon` doesn't yield any results

### Bourbon version
5.0.0.beta.7

[2017-01-28 20:59] tysongach commented on #995
@andyjessop The `align-items` mixin has been removed in 5.0, which is currently in beta. The website documentation reflects the current stable version, 4.2.7.

Our [change log](https://github.com/thoughtbot/bourbon/blob/master/CHANGELOG.md) lists all the changes, including removals, for 5.0.

[2017-01-28 20:59] #995 closed

[2017-01-28 20:59] tysongach commented on #988
@thelucid Any update on my question above?

[2017-01-28 21:50] tysongach commented on #994
Hi @Trost123!

The aim by re-working the mixin was to make the argument values being set more clear and expected.

This is nicety when the mixin was called, however, I think it is an assumption that everyone would see the one value as always being the longest side.

With the new mixin, the width and height set will always map directly to the width and height of the "box" the triangle sits in. I li

[2017-01-28 22:32] Trost123 commented on #994
I think 90% uses of triangle mixin are for [isosceles right triangle](http://mathworld.wolfram.com/IsoscelesRightTriangle.html) and not that [squashed grey thing](http://prnt.sc/e1epai) I got in a screenshot.
So, while I agree with "box" size concept you have in mind, why is box height = width/2 for left\right triangles right now?

I always imagined a html triangle as a 1\4 segment of a square piz

[2017-01-31 17:28] placenamehere commented on #992
Personally: I tend to side with the project's opinion that css architectures that would have one rely on the `!important` selector aren't a good practice - in no small part as they can create developer confusion and specificity arms races. I also think the v5.x move to offload any prefixing elsewhere is great for similar reasons (more consistent if using another tool in the pipeline for just that

[2017-01-31 17:43] placenamehere commented on #992
The other reason i field was for issue-as-documentation.

And with confirmation that dev on 4.x is dead it also makes me feel better about forking 4.7 and making this change for us without having to worry about maintaining that fork until we switch to 5.x.

So fee free to close. Satisfied with that outcome.

[2017-02-04 23:23] JoshSmith commented on #702
Any updates on this?

[2017-02-04 23:25] tysongach commented on #702
@JoshSmith We just released 4.3 yesterday which introduces all of the deprecation warnings for 5.0 removals. That now being out, puts us super close to a final 5.0 release.

[2017-02-04 23:31] JoshSmith commented on #702
Thanks @tysongach. Came here because I'm working my way through a couple deprecation warnings. Looks like the others are all probably internal to Bourbon. Will keep an eye on this so I know when to bump and verify.

[2017-02-05 10:35] MightyPork opened #997 "[4.3.0] 'assign-inputs', 'strip-units' and 'em' used in global variables, emitting deprecation warnings"
- `assign-inputs` used in `addons/_text-inputs.scss` and `addons/_buttons.scss` for global variables (which coincidentally are really useful)
- `strip-units` and `em` used in modular-scale's default base in `functions/_modular-scale.scss`

[2017-02-05 15:55] DanHaddock commented on #997
I am seeing these WARNING appearing when I trigger the 'gulp' command to launch my website.

Would be great to find out why this might be happenning. :)

[2017-02-05 16:31] AlennGK commented on #997
Yea, and if it is intentional I would like to disable these warnings =)

[2017-02-05 16:36] MightyPork commented on #997
@AlennGK To disable them, we can use the following:

    $output-bourbon-deprecation-warnings: false;

But since 4.3.0 does nothing but add those warnings, I'll be using 4.2.7 until this issue is resolved.

[2017-02-05 16:43] tysongach commented on #997
Hi all,

Yes, this is intentional. We released 4.3 which adds these deprecation warnings in preparation for the 5.0 release. Bourbon follows [Semantic Versioning](http://semver.org/) and 5.0 is a major release that has breaking changes. To help people prep for that and to follow standard open-source library conventions, these warnings to added to indicate what has been removed/changed in 5.0.

To

[2017-02-05 16:48] MightyPork commented on #997
@tysongach
The issue I tried to report is that the framework is itself still using those deprecated mixins, so even if you fix your application code, there'll still be deprecation warnings you can't get rid of.

I tried to clean the output of warnings, but eventually just stashed it and locked Bourbon to the older version...

[2017-02-05 16:49] tysongach commented on #985
Yep, I think we should investigate this. I’m earmarking it for v6.0.

[2017-02-05 16:59] tysongach commented on #997
@MightyPork Correct. It’s a bummer, which is why we now have a system for public and private features. `assign-inputs` is only used internally to Bourbon to build other features, but since it was not labelled as a private function, some people used it directly within projects. So when it gets renamed in 5.0, we want to provide warnings for that.

`strip-units` and `em` are public-facing, documente

[2017-02-05 17:35] tysongach commented on #994
I think the path forward is to remove the defaults and always ask for 4 arguments. It’s the most consistent and clear implementation.

Just like we did the with `size` mixin, `$height` and `$width` should be individual arguments (`($height, $width)`) and not a a list (`($height $width)`). I don’t think we can accomplish that and allow for a single width value to be set, because something that woul

[2017-02-05 17:38] #988 closed

[2017-02-05 18:22] tysongach commented on #992
Thanks for the detailed the response. This all makes sense. We never designed any of the features to support or not support `!important`, so results may vary (as it seems you have found).

I think for now, as a library, we’re choosing to not implement support for `!important`. But please feel free to fork; the 4.x cycle will no longer receive new feature development.

And thank you for that!

[2017-02-05 18:22] #992 closed

[2017-02-05 18:23] tysongach commented on #979
@skarensmoll Any update here?

[2017-02-05 18:54] tysongach opened #999 "Document our deprecation process"
- https://github.com/thoughtbot/bourbon/commit/fc9d1ee3e9a13cd57250a39b4bd084f9ee3fce12
- https://github.com/thoughtbot/bourbon/commit/094480bbd58b53787d0d58db5db93060ebe8eaa1
- Prefix all warnings and errors with `[Bourbon]`?